

<header id="header" class="header-narrow"
        data-plugin-options="{'stickyEnabled': true, 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyStartAt': 57, 'stickySetTop': '-55px', 'stickyChangeLogo': false}">
    <div class="header-body">
        <div class="header-top header-top-style-4">
            <div class="container">
                <div class="header-row pb-1">
                    <div class="header-column justify-content-end">
                        <div class="header-row">
                            <p>
                                <span class="mr-1"><i class="icon-call-end icons mr-1"></i> 650-241-9105</span><span
                                    class="d-none d-sm-block"></span>
                            </p>
                            <div class="header-search d-none d-md-block">
                                <p>
                                    <span class="mr-1"><i class="icon-envelope icons mr-1"></i> <a
                                            href="mailto:dpworldblockchain@hointer.com">eMail</a></span><span
                                        class="d-none d-sm-block"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-container container">
            <div class="header-row">
                <div class="header-column">
                    <div class="header-row">
                        <div class="header-logo">
                            <a href="index.html">
                                <img alt="Porto" height="48" src="images/dpworldblockchain_logo.png">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="header-column justify-content-end">
                    <div class="header-row">
                        <div class="header-nav">
                            <div class="header-nav-main header-nav-main-effect-1 header-nav-main-sub-effect-1">
                                <nav class="collapse navbar-collapse">
                                    <ul class="nav nav-pills" id="mainNav">
                                        <li class="dropdown-primary">
                                            <a class="nav-link" href="index.html" id="home">
                                                HOME
                                            </a>
                                        </li>
<!--                                        <li class="dropdown-primary">
                                            <a class="nav-link"  href="main_preso.html" id="preso">
                                                PRESENTATION
                                            </a>
                                        </li>-->
                                        <li class="dropdown-primary">
                                            <a class="nav-link"  href="main_services.html" id="services">
                                                SERVICES
                                            </a>
                                        </li>
                                        <li class="dropdown-primary">
                                            <a class="nav-link"  href="main_platform.html" id="platform">
                                                PLATFORM
                                            </a>
                                        </li>

                                        <li class="dropdown-primary">
                                            <a class="nav-link"  href="main_technology.html" id="technology">
                                                TECHNOLOGY
                                            </a>
                                        </li>

                                    </ul>
                                </nav>
                            </div>
                            <button class="btn header-btn-collapse-nav" data-toggle="collapse"
                                    data-target=".header-nav-main nav">
                                <i class="fas fa-bars"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>


