
<style>
    .footer_borders {
        border-top: 1px solid #A6A6A6;
        padding-bottom: 10px;
        padding-top: 10px
    }


</style>


<section class="call-to-action call-to-action-default with-button-arrow content-align-center call-to-action-in-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-lg-9">
                <div class="call-to-action-content">
                    <h4>
                        To learn how other shippers are using <strong>DP World Blockchain</strong>, please <a
                            href="mailto:dpworldblockchain@hointer.com">contact us</a>!
                        </h4>
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>

<footer id="footer" class="color color-secondary">
    <div class="container">
        <div class="row">
            <div class="footer-ribbon">
                <span>Get in Touch</span>
            </div>
            <div class="col-lg-3">
            </div>
            <div class="col-lg-3">
                <h4>Our Blockchain</h4>
                <ul class="contact">
                    <li><p> <a href="main_platform.html">Platform</a></p></li>
                    <li><p> <a href="main_services.html">Services</a></p></li>
                    <li><p> <a href="main_technology.html">Technology</a></li>
                </ul>
            </div>
            <div class="col-lg-4">

            </div>
            <div class="col-lg-2">
                <h4>Follow Us</h4>
                <ul class="social-icons">
                    <li class="social-icons-facebook"><a href="https://www.facebook.com/DPWorld/" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="social-icons-twitter"><a href="https://twitter.com/dp_world?lang=en" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                    <li class="social-icons-linkedin"><a href="https://www.linkedin.com/company/dp-world/" target="_blank" title="Linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <a href="index.html" class="logo">
                        <img alt="Porto Website Template" class="img-fluid" src="images/dpworldblockchain_logo.png">
                    </a>
                </div>
                <div class="col-lg-6">
                    <p>© Copyright 2018. All Rights Reserved.</p>
                </div>
                <div class="col-lg-4">
                    <nav id="sub-menu">
                        <ul>
                            <li><a href="mailto:dpworldblockchain@hointer.com">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Vendor -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/jquery.appear/jquery.appear.min.js"></script>
<script src="vendor/jquery.easing/jquery.easing.min.js"></script>
<script src="vendor/jquery-cookie/jquery-cookie.min.js"></script>
<script src="vendor/popper/umd/popper.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="vendor/common/common.min.js"></script>
<script src="vendor/jquery.validation/jquery.validation.min.js"></script>
<script src="vendor/jquery.easy-pie-chart/jquery.easy-pie-chart.min.js"></script>
<script src="vendor/jquery.gmap/jquery.gmap.min.js"></script>
<script src="vendor/jquery.lazyload/jquery.lazyload.min.js"></script>
<script src="vendor/isotope/jquery.isotope.min.js"></script>
<script src="vendor/owl.carousel/owl.carousel.min.js"></script>
<script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
<script src="vendor/vide/vide.min.js"></script>

<!-- Theme Base, Components and Settings -->
<script src="js/theme.js"></script>

<!-- Current Page Vendor and Views -->
<script src="vendor/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
<script src="vendor/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

<!-- Theme Custom -->
<script src="js/custom.js"></script>

<!-- Theme Initialization Files -->
<script src="js/theme.init.js"></script>

<!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information.
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-12345678-1', 'auto');
    ga('send', 'pageview');
</script>
 -->
