<!DOCTYPE html>
<html>
<% include partials/include_ccs.html %>

<body>
<!--MENU bar-->
<% include partials/include_menubar.html %>

<div class="body">

    <div role="main" class="main">

        <section class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <ul class="breadcrumb">
                            <li><a href="index.html">Home</a></li>
                            <li class="active">Error</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h1>Error</h1>
                    </div>
                </div>
            </div>
        </section>

        <div class="container">

            <section class="page-not-found">
                <div class="row justify-content-center">
                    <div class="col-lg-7 text-center">
                        <div class="page-not-found-main">
                            <h2>404 <i class="fas fa-file"></i></h2>
                            <p>We're sorry, but the page you were looking for doesn't exist.</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <h4 class="heading-primary">Here are some useful links</h4>
                        <ul class="nav nav-list flex-column">
                            <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="main_aboutus.html">About Us</a></li>
                            <li class="nav-item"><a class="nav-link" href="main_sitemap.html">Sitemap</a></li>
                            <li class="nav-item"><a class="nav-link" href="main_contactus">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </section>

        </div>

    </div>
</div>

<% include partials/include_footer.html %>
</body>
</html>
