<!DOCTYPE html>
<html>
<% include partials/include_ccs.html %>

<body>
<!--MENU bar-->
<% include partials/include_menubar.html %>

<div class="body">
    <div role="main" class="main">

        <!--SLIDER-->
        <div class="slider-container rev_slider_wrapper">
            <div id="revolutionSlider" class="slider rev_slider" data-version="5.4.7" data-plugin-revolution-slider
                 data-plugin-options="{'delay': 9000, 'gridwidth': 1170, 'gridheight': 500, 'responsiveLevels': [4096,1200,992,500]}">
                <ul>
                    <li data-transition="fade">

                        <img src="images/page_index/port_bk.jpg"
                             alt=""
                             data-bgposition="center center"
                             data-bgfit="cover"
                             data-bgrepeat="no-repeat"
                             class="rev-slidebg">

                        <div class="tp-caption"
                             data-x="['177','177','center','center']" data-hoffset="['0','0','-150','-220']"
                             data-y="180"
                             data-start="1000"
                             data-transform_in="x:[-300%];opacity:0;s:500;"><img
                                src="images/page_index/slide-title-border-light.png" alt=""></div>

                        <div class="tp-caption top-label"
                             data-x="['227','227','center','center']"
                             data-y="172"
                             data-fontsize="['24','24','24','36']"
                             data-start="500"
                             data-transform_in="y:[-300%];opacity:0;s:500;">PRIVATE AND SIMPLE
                        </div>

                        <div class="tp-caption"
                             data-x="['470','470','center','center']" data-hoffset="['0','0','150','220']"
                             data-y="180"
                             data-start="1000"
                             data-transform_in="x:[300%];opacity:0;s:500;"><img
                                src="images/page_index/slide-title-border-light.png" alt=""></div>

                        <div class="tp-caption main-label"
                             data-x="['135','135','center','center']"
                             data-y="['210','210','210','230']"
                             data-start="1500"
                             data-whitespace="nowrap"
                             data-fontsize="['40','40','40','40']"
                             data-transform_in="y:[100%];s:500;"
                             data-transform_out="opacity:0;s:500;"
                             data-mask_in="x:0px;y:0px;">BLOCKCHAIN FOR CARGO OWNERS
                        </div>

                    </li>
                    <li data-transition="fade">

                        <img src="images/page_index/black_bk.jpg"
                             alt=""
                             data-bgposition="center center"
                             data-bgfit="cover"
                             data-bgrepeat="no-repeat"
                             class="rev-slidebg">

                        <div class="tp-caption featured-label"
                             data-x="center"
                             data-y="210"
                             data-start="500"
                             data-fontsize="['52','52','52','82']"
                             style="z-index: 5"
                             data-transform_in="y:[100%];s:500;"
                             data-transform_out="opacity:0;s:500;">WELCOME TO DP World Blockchain
                        </div>

                        <div class="tp-caption bottom-label"
                             data-x="center"
                             data-y="['270','270','270','290']"
                             data-start="1000"
                             data-fontsize="['23','23','23','38']"
                             data-transform_idle="o:1;"
                             data-transform_in="y:[100%];z:0;rZ:-35deg;sX:1;sY:1;skX:0;skY:0;s:600;e:Power4.easeInOut;"
                             data-transform_out="opacity:0;s:500;"
                             data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                             data-splitin="chars"
                             data-splitout="none"
                             data-responsive_offset="on"
                             style="font-size: 23px; line-height: 30px;"
                             data-elementdelay="0.05">Enabling seamless trade
                        </div>

                    </li>
                </ul>
            </div>
        </div>

        <!--BLACK CALL FOR ACTION-->
        <div class="home-intro home-intro-secondary" id="home-intro">
            <div class="container">

                <div class="row align-items-center">
                    <div class="col-lg-8">
                        <p>
                            Create your private blockchain in minutes to bring <em class="withpadding_right">radical
                            transparency</em> to every shipment.

                            <span>Check out our supply chain blockchain platform.</span>
                        </p>
                    </div>
                    <div class="col-lg-4 text-left text-lg-right">
                        <div class="get-started">
                            <a href="index.html"
                               class="btn btn-lg btn-primary">Get Started!</a>
                            <div class="learn-more">or <a href="main_platform.html">learn more.</a></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!--ABOUT US-->
        <div class="container">
            <div class="row mb-5">
                <div class="col-lg-12 text-center">
                    <h2 class="mb-5"><strong>Who</strong> We Are</h2>
                    <p class="lead">
                        DP World operates over 80 sea and inland terminals on all continents as well as a multitude of logistics parks,
                        3PL service providers, rail operators, marine transportation providers and other trade enabling players.
                        DPW Blockchain encapsulates world’s leading expertise in trade to create a private shipper controlled
                        blockchain solution to innovate and digitalize trade.
                    </p>

                    <!--<a href="main_aboutus.html" class="btn btn-outline btn-light mr-1 mb-2">Read More</a>-->

                    <div class="row">
                        <div class="col-8 offset-2">
                    <div class="featured-box featured-box-primary">
                        <div class="box-content">
                            <div class="testimonial testimonial-style-3">
                                <blockquote>
                                    <p>Blockchain is part of our global strategy to deliver value to our customers and give them an edge.
                                        It will make the global supply chain faster, cheaper and more productive.</p>
                                </blockquote>
                                <div class="testimonial-arrow-down"></div>
                                <div class="testimonial-author">
                                    <div class="testimonial-author-thumbnail">
                                        <img src="images/page_index/sultan.jpg" class="img-fluid rounded-circle" alt="">
                                    </div>
                                    <p><strong>Sultan Ahmed Bin Sulayem</strong><span>Group Chairman and CEO, DP World </span>

                                </div>
                            </div>
                        </div>
                    </div>
                </div></div>
        </div>
            </div>
        </div>

        <!--PLATFORM-->
        <section class="section section-tertiary section-no-border mb-0">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="heading-dark"> Private and Simple Blockchain <strong>Platform</strong></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="feature-box feature-box-style-4 appear-animation" data-appear-animation="fadeInUp"
                             data-appear-animation-delay="0">
                            <div class="feature-box-icon">
                                <i class="fas fa-map-marked-alt"></i>
                            </div>
                            <div class="feature-box-info">
                                <h4 class="mb-2">Item Level Visibility</h4>
                                <p class="mb-4">Your private blockchain showing you the last known location of each item
                                    from the factory to the warehouse.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="feature-box feature-box-style-4 appear-animation" data-appear-animation="fadeInUp"
                             data-appear-animation-delay="300">
                            <div class="feature-box-icon">
                                <i class="fas fa-calendar"></i>
                            </div>
                            <div class="feature-box-info">
                                <h4 class="mb-2">Item Level Predictability</h4>
                                <p class="mb-4">Your private dashboard showing the expected delivery date for your items
                                    taking into account real-time vessel location and port congestion.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="feature-box feature-box-style-4 appear-animation" data-appear-animation="fadeInUp"
                             data-appear-animation-delay="600">
                            <div class="feature-box-icon">
                                <i class="fas fa-file-invoice-dollar"></i>
                            </div>
                            <div class="feature-box-info">
                                <h4 class="mb-2">Radically Transparent Cost</h4>
                                <p class="mb-4">Detailed freight and handling costs based on your supplier invoices
                                    allocated to item level.</i></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--MARITIME SERVICES-->
        <div class="container">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 mb-5 text-center">
                        <h2 class="heading-dark mt-5">Maritime and Free Zone <strong>Services</strong></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="feature-box feature-box-style-4 appear-animation" data-appear-animation="fadeInUp"
                             data-appear-animation-delay="0">
                            <div class="feature-box-icon">
                                <i class="fas fa-shipping-fast"></i>
                            </div>
                            <div class="feature-box-info">
                                <h4 class="mb-2">Expediting</h4>
                                <p class="mb-4">Request to expedite items from hub ports or inbound ports.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="feature-box feature-box-style-4 appear-animation" data-appear-animation="fadeInUp"
                             data-appear-animation-delay="300">
                            <div class="feature-box-icon">
                                <i class="fas fa-route"></i>
                            </div>
                            <div class="feature-box-info">
                                <h4 class="mb-2">Re-Routing</h4>
                                <p class="mb-4">A simple tool to designate a new destination for an item and alert all
                                    participants of your private
                                    supply chain. Leverage digitalization capabilities of blockchain to seamlessly reconfigure trade documentation for re-routing.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="feature-box feature-box-style-4 appear-animation" data-appear-animation="fadeInUp"
                             data-appear-animation-delay="600">
                            <div class="feature-box-icon">
                                <i class="fas fa-warehouse"></i>
                            </div>
                            <div class="feature-box-info">
                                <h4 class="mb-2">Buffering</h4>
                                <p class="mb-4">Request to hold back some items and store them upstream. Useful for
                                    items with excessive inventory.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="feature-box feature-box-style-4 appear-animation" data-appear-animation="fadeInUp"
                             data-appear-animation-delay="600">
                            <div class="feature-box-icon">
                                <i class="fas fa-box-open"></i>
                            </div>
                            <div class="feature-box-info">
                                <h4 class="mb-2">Labelling and Repackaging</h4>
                                <p class="mb-4">
                                    Localize your products for your destination markets at destination.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row counters with-borders">
                <div class="col-sm-6 col-lg-3 mb-4 mb-lg-0">
                    <div class="counter counter-primary">
                        <strong data-to="78" >78</strong>
                        <label>Marine & Inland<br>Terminals</label>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 mb-4 mb-lg-0">
                    <div class="counter counter-primary">
                        <strong data-to="40">40</strong>
                        <label>Countries Across<br>Six Continents</label>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 mb-4 mb-sm-0">
                    <div class="counter counter-primary">
                        <strong data-to="50" data-append="+">50</strong>
                        <label>Supply Chain<br>Partners</label>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="counter counter-primary">
                        <strong>88M</strong>
                        <label>TEU Gross<br>Capacity</label>
                    </div>
                </div>
            </div>
            <!--SELECTED LOCATIONS-->
            <div class="row mb-5">
                <div class="col-lg-12 text-center">
                    <h2 class="mt-5">Selected Participating <strong>Locations</strong></h2>
                </div>
                <div class="col-lg-3">
                    <a href="index.html">
												<span class="thumb-info">
													<span class="thumb-info-wrapper">
														<img src="images/page_index/Caucedo.jpg" class="img-fluid"
                                                             alt="">
														<span class="thumb-info-title">
															<span class="thumb-info-inner">South America</span>
															<span class="thumb-info-type">Caucedo</span>
														</span>
														<span class="thumb-info-action">
															<span class="thumb-info-action-icon"><i
                                                                    class="fas fa-link"></i></span>
														</span>
													</span>
												</span>
                    </a>
                </div>
                <div class="col-lg-3">
                    <a href="index.html">
												<span class="thumb-info">
													<span class="thumb-info-wrapper">
														<img src="images/page_index/PrinceRupert.jpg" class="img-fluid"
                                                             alt="">
														<span class="thumb-info-title">
															<span class="thumb-info-inner">North America</span>
															<span class="thumb-info-type">Prince Rupert</span>
														</span>
														<span class="thumb-info-action">
															<span class="thumb-info-action-icon"><i
                                                                    class="fas fa-link"></i></span>
														</span>
													</span>
												</span>
                    </a>
                </div>
                <div class="col-lg-3">
                    <a href="index.html">
												<span class="thumb-info">
													<span class="thumb-info-wrapper">
														<img src="images/page_index/londonGW.jpg" class="img-fluid"
                                                             alt="">
														<span class="thumb-info-title">
															<span class="thumb-info-inner">Europe</span>
															<span class="thumb-info-type">London Gateway</span>
														</span>
														<span class="thumb-info-action">
															<span class="thumb-info-action-icon"><i
                                                                    class="fas fa-link"></i></span>
														</span>
													</span>
												</span>
                    </a>
                </div>
                <div class="col-lg-3">
                    <a href="index.html">
												<span class="thumb-info">
													<span class="thumb-info-wrapper">
														<img src="images/page_index/southampton.jpg" class="img-fluid"
                                                             alt="">
														<span class="thumb-info-title">
															<span class="thumb-info-inner">UK</span>
															<span class="thumb-info-type">Southampton</span>
														</span>
														<span class="thumb-info-action">
															<span class="thumb-info-action-icon"><i
                                                                    class="fas fa-link"></i></span>
														</span>
													</span>
												</span>
                    </a>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-lg-3">
                    <a href="index.html">
												<span class="thumb-info">
													<span class="thumb-info-wrapper">
														<img src="images/page_index/Busan.jpg" class="img-fluid" alt="">
														<span class="thumb-info-title">
															<span class="thumb-info-inner">Asia Pacific</span>
															<span class="thumb-info-type">Busan</span>
														</span>
														<span class="thumb-info-action">
															<span class="thumb-info-action-icon"><i
                                                                    class="fas fa-link"></i></span>
														</span>
													</span>
												</span>
                    </a>
                </div>
                <div class="col-lg-3">
                    <a href="index.html">
												<span class="thumb-info">
													<span class="thumb-info-wrapper">
														<img src="images/page_index/dubai.jpg" class="img-fluid" alt="">
														<span class="thumb-info-title">
															<span class="thumb-info-inner">Middle East</span>
															<span class="thumb-info-type">Dubai</span>
														</span>
														<span class="thumb-info-action">
															<span class="thumb-info-action-icon"><i
                                                                    class="fas fa-link"></i></span>
														</span>
													</span>
												</span>
                    </a>
                </div>
                <div class="col-lg-3">
                    <a href="index.html">
												<span class="thumb-info">
													<span class="thumb-info-wrapper">
														<img src="images/page_index/sokhna.jpg" class="img-fluid"
                                                             alt="">
														<span class="thumb-info-title">
															<span class="thumb-info-inner">Africa</span>
															<span class="thumb-info-type">Sohkna</span>
														</span>
														<span class="thumb-info-action">
															<span class="thumb-info-action-icon"><i
                                                                    class="fas fa-link"></i></span>
														</span>
													</span>
												</span>
                    </a>
                </div>
                <div class="col-lg-3">
                    <a href="index.html">
												<span class="thumb-info">
													<span class="thumb-info-wrapper">
														<img src="images/page_index/india.jpg" class="img-fluid" alt="">
														<span class="thumb-info-title">
															<span class="thumb-info-inner">Indian Subcontinent</span>
															<span class="thumb-info-type">Nhava Sheva</span>
														</span>
														<span class="thumb-info-action">
															<span class="thumb-info-action-icon"><i
                                                                    class="fas fa-link"></i></span>
														</span>
													</span>
												</span>
                    </a>
                </div>
            </div>
        </div>


        <div class="container">
            <div class="row">
                <div class="col-lg-12 mb-5 text-center">
                    <h2 class="heading-dark mt-5">Digitalization Potential of <strong>Blockchain</strong></h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="feature-box feature-box-style-4 appear-animation" data-appear-animation="fadeInUp"
                         data-appear-animation-delay="0">
                        <div class="feature-box-icon">
                            <i class="fas fa-check"></i>
                        </div>
                        <div class="feature-box-info">
                            <h4 class="mb-2">Auditability</h4>
                            <p class="mb-4">Create a nimble tool to audit your supply chain data and reconcile various charges.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="feature-box feature-box-style-4 appear-animation" data-appear-animation="fadeInUp"
                         data-appear-animation-delay="300">
                        <div class="feature-box-icon">
                            <i class="fas fa-receipt"></i>
                        </div>
                        <div class="feature-box-info">
                            <h4 class="mb-2">Product Provenance</h4>
                            <p class="mb-4">When fully deployed, blockchain technology allows you to track products from suppliers to consumers and react with agility to any product related issues.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="feature-box feature-box-style-4 appear-animation" data-appear-animation="fadeInUp"
                         data-appear-animation-delay="600">
                        <div class="feature-box-icon">
                            <i class="fas fa-exclamation-triangle"></i>
                        </div>
                        <div class="feature-box-info">
                            <h4 class="mb-2">Automation</h4>
                            <p class="mb-4">Automate supply chain processes including monitoring and handling of exceptional events.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="feature-box feature-box-style-4 appear-animation" data-appear-animation="fadeInUp"
                         data-appear-animation-delay="600">
                        <div class="feature-box-icon">
                            <i class="fas fa-file-invoice"></i>
                        </div>
                        <div class="feature-box-info">
                            <h4 class="mb-2">Digitalization of Trade Documentation</h4>
                            <p class="mb-4">
                                Blockchain technology has the potential to digitalize trade documentation and lead to “paperless trade”.  This is an important component to making trade faster, cheaper and more efficient.

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--VISION-->
        <!--<section class="section section-quaternary section-no-border mb-0">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="heading-dark"><strong>Vision</strong></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 offset-2">
                        <div class="testimonial testimonial-style-4 testimonial-no-borders appear-animation"
                             data-appear-animation="fadeInLeft" data-appear-animation-delay="0">
                            <blockquote>
                                <p>
                                    Blockchain will bring visibility of goods in transit like never before and
                                    will make the global supply chain faster, cheaper and more productive.
                                </p>
                            </blockquote>
                            <div class="testimonial-arrow-down"></div>
                            <div class="testimonial-author">
                                <div class="testimonial-author-thumbnail">
                                    <img src="images/page_index/sultan.jpg" class="img-fluid rounded-circle" alt="">
                                </div>
                                <p><strong>Sultan Ahmed Bin Sulayem</strong></p>
                                <p>Chairman and CEO, DP World</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>-->
    </div>

    <!--<section class="section section-tertiary section-no-border mb-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center mt-3">
                    <h2 class="heading-dark">Our <strong>Blog</strong></h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="recent-posts mt-4">
                        <article class="post">
                            <div class="date">
                                <span class="day">15</span>
                                <span class="month">Jan</span>
                            </div>
                            <h4><a href="blog-post.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat libero.</p>
                            <a class="btn btn-outline btn-dark mt-3 mb-3">Read More</a>
                        </article>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="recent-posts mt-4">
                        <article class="post">
                            <div class="date">
                                <span class="day">15</span>
                                <span class="month">Jan</span>
                            </div>
                            <h4><a href="blog-post.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat libero.</p>
                            <a class="btn btn-outline btn-dark mt-3 mb-3">Read More</a>
                        </article>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="recent-posts mt-4">
                        <article class="post">
                            <div class="date">
                                <span class="day">15</span>
                                <span class="month">Jan</span>
                            </div>
                            <h4><a href="blog-post.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat libero.</p>
                            <a class="btn btn-outline btn-dark mt-3 mb-3">Read More</a>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>-->
    <!--<div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="owl-carousel owl-theme mt-5" data-plugin-options="{'items': 6, 'autoplay': true, 'autoplayTimeout': 3000}">
                    <div>
                        <img class="img-fluid" src="img/logos/logo-1.png" alt="">
                    </div>
                    <div>
                        <img class="img-fluid" src="img/logos/logo-2.png" alt="">
                    </div>
                    <div>
                        <img class="img-fluid" src="img/logos/logo-3.png" alt="">
                    </div>
                    <div>
                        <img class="img-fluid" src="img/logos/logo-4.png" alt="">
                    </div>
                    <div>
                        <img class="img-fluid" src="img/logos/logo-5.png" alt="">
                    </div>
                    <div>
                        <img class="img-fluid" src="img/logos/logo-6.png" alt="">
                    </div>
                    <div>
                        <img class="img-fluid" src="img/logos/logo-4.png" alt="">
                    </div>
                    <div>
                        <img class="img-fluid" src="img/logos/logo-2.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>-->
</div>


<% include partials/include_footer.html %>
</body>
</html>

<script>
    $('#home').toggleClass('active');
</script>
