<!DOCTYPE html>
<html>
<% include partials/include_ccs.html %>

<body>
<!--MENU bar-->
<% include partials/include_menubar.html %>

		<div class="body">

			<div role="main" class="main">

				<section class="page-header">
					<div class="container">
						<div class="row">
							<div class="col">
								<ul class="breadcrumb">
									<li><a href="index.html">Home</a></li>
									<li class="active">Blog</li>
								</ul>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<h1>DP World Blockchain blog</h1>
							</div>
						</div>
					</div>
				</section>

				<div class="container">

					<div class="row">
						<div class="col-lg-8 offset-2">
							<div class="blog-posts">

								<!--BLOG Sept 4, 2018 -->
								<article class="post post-large">
									<div class="post-image single">
										<img class="img-thumbnail" src="images/page_blog/blog-image-sept-4.png" alt="">
									</div>

									<div class="post-date">
										<span class="day">4</span>
										<span class="month">SEPT</span>
									</div>

									<div class="post-content">

										<h2><a href="https://www.linkedin.com/pulse/more-fool-you-tommy-weir/">MORE FOOL YOU</a></h2>
										<p>Just over 100 years apart, two prolific writers, Frederick Taylor and Ray Dalio, wrote nearly the same words, signaling a full-swing in leadership thinking. In a nutshell, they both believe that employees do the minimum. What they said cuts against what I was taught to believe about leadership, what I used to teach about it and what I want to hold as dear. I really want to say that employees are hard workers who give their all for the company. But, after working with thousands of leaders over the past two decades, I’m inclined to say that I was wrong.

											The godfather of productivity, Frederick Taylor, wrote in the most influential management book of the twentieth century, The Principles of Scientific Management, that employees “deliberately work as slowly as they dare, while they at the same time try to make those over them believe that they are working fast.”

											Taylor did not mince his words and a century later, nor did Ray Dalio. In his book, Principles, the founder of Bridgewater writes that “most people will pretend to operate in your interest while operating in their own.” Over the past 40 years, Dalio has developed, refined and used what he calls unconventional principles that have led Bridgewater to become the world’s largest hedge fund. As he says, “Most people will operate in a way that maximizes the amount of money they will get and that minimizes the amount of work they have to do to get it.”

											In 1911, during the rise of the industrial revolution, and again in 2017 at the height of the knowledge economy, both Taylor and Dalio zeroed in on the fact that employees fool their leaders into thinking they’re working as hard as they can, while doing the least amount possible.

											Those words might sting, but they serve as a call to action. If you want to maximize your output, you must confront underworking. That is, deliberately working slowly to avoid doing a full day's work. It constitutes the greatest calamity leaders face every day.

											I never used to think this way, partially because it didn’t seem acceptable to do so and partially because I like to hold onto the ideal that people work hard for collective success, not just their own. But then reality hit and the time came for me to confront my own beliefs and practices. I had to accept that in the end, giving control to employees leads to no control at all.

											What’s more interesting, is the way the two writers confront the issue of underworking. They aren’t fooled by the utopic hope of benefitting from employee self-control. Instead, they tackle the problem head on by employing a data-focused, scientific approach to leading.

											The term "scientific management" refers to planning and monitoring a company’s work for everyone's benefit, including that of employees. It effectively says that competent leaders should create and control the system of work. Instead of giving wide leeway to employees, you should only give latitude sufficient enough for them to exceed targets.

											While there are potentially more ways of doing each task in each job, there is always one way that is quicker and better than the rest. Instead of relying on an employee to make this choice, you should make it a science, a build it into your business. And remember, the true science is found in the data, not in experience and intuition.

											This approach is antagonistic to the idea that each employee can best determine his own way of working, but the truth is that when employees are the benefactors, they work for their own benefit, and that means working less ambitiously than if they had a vested interest in the result.

											It’s time to eliminate the waste in your company’s system. To do that, you many need to correct your assumptions about your workforce and take control of what your employees are doing. Only then can you be sure that they’re using the one best way to work, 100% of the time.			</p>

										<div class="post-meta">
											<span><i class="fas fa-user"></i> By <a href="https://www.linkedin.com/in/tommy-weir-09a5835/">Tommy Weir </a>, Founder of the EMLC Leadership Ai Lab</span>
											<span><i class="fas fa-tag"></i> <a href="https://www.linkedin.com/in/tommy-weir-09a5835/">Dubai, UAE</a></span>
											<span class="d-block d-sm-inline-block float-sm-right mt-3 mt-sm-0">
												<a href="https://www.linkedin.com/pulse/more-fool-you-tommy-weir/" class="btn btn-xs btn-primary">Read more...
												</a>
											</span>
										</div>

									</div>
								</article>

								<!--BLOG -->
								<article class="post post-large">
									<div class="post-image single">
										<img class="img-thumbnail" src="images/page_blog/blog-image-2.jpg" alt="">
									</div>

									<div class="post-date">
										<span class="day">7</span>
										<span class="month">AUG</span>
									</div>

									<div class="post-content">

										<h2><a href="http://web.dpworld.com/wp-content/uploads/2018/08/2018_08_07-Project-Athena_reg-announcement_FINAL-1.pdf">DP WORLD ACQUIRES LEADING PORT RELATED LOGISTICS SOLUTIONS PROVIDER IN EUROPE</a></h2>
										<p>DP World acquires 100% of Unifeeder, the largest container feeder and growing shortsea network operator in Europe Dubai, UAE, 7 August 2018: Global trade enabler, DP World today announces the signing of the acquisition of 100% of the Unifeeder Group (“Unifeeder”)1 for €660 million2 from Nordic Capital Fund VIII and certain minority shareholders. Based in Aarhus (Denmark), Unifeeder operates the largest and most densely connected common user container feeder and an important and growing shortsea network in Europe, serving both deep-sea container hubs and the intra-Europe container freight market. The Group reported revenue of €510 million in 2017 and EBIT margins in line with other asset-light logistics operators. The acquisition is subject to regulatory approvals and expected to be earnings accretive in the first full year after completion. It will be financed from existing balance sheet resources and is expected to close in 4Q 2018. The acquisition of Unifeeder will further enhance DP World’s presence in the global supply chain and broaden our product offering to our customers - the shipping lines and cargo owners – with a view to ultimately reduce inefficiencies and improve the competitiveness of global trade. The current operations of Unifeeder are complementary to DP World’s existing business and provides future growth opportunities. Unifeeder, founded in 1977, is an integrated logistics company with the largest and bestconnected feeder and growing shortsea network in Northern Europe with connectivity to approximately 100 ports. The company provides efficient and sustainable transport solutions for international container shipping lines between international and regional ports and shortsea services to cargo owners with fully multimodal door-to-door solutions, combining seaborne transportation with road and/or rail. The business is cash generative and operates on a highly flexible cost base.


											Sultan Ahmed Bin Sulayem, Group Chairman and CEO, DP World, said: “We are delighted to add the Unifeeder brand under the DP World umbrella, which supports our strategy to grow in complementary sectors, strengthen our product offering and play a wider role in the global supply chain as a trade enabler. “The ever-growing deployment of ultra-large container vessels has made high-quality connectivity from hub terminals crucial for our customers and Unifeeder is a best-in-class logistics provider in this space with a strong reputation in Europe. Our aim is to leverage on the in-house expertise of Unifeeder and to accelerate growth in this scalable platform to deliver value for all stakeholders. Unifeeder operates on the same common-user principle as DP World and adds to the Group’s strong value proposition to international shipping lines and end cargo owners in making the global supply chain more efficient and cost effective.” Jesper Kristensen, CEO, Unifeeder A/S, said: “We are excited to join the DP World Group as we believe that Unifeeder will benefit from the Group’s significant expertise in the wider supply chain and excellent relationships with shipping lines and end cargo owners. Not only is there commonality with our business models but we also share the vision of serving our customers through removing inefficiencies and delivering sustainable shareholder value. We have enjoyed great success over the last five years under Nordic Capital’s ownership, and we believe that the Unifeeder brand within the DP World Group has the opportunity to accelerate growth, expand further and take the business to the next level.” -ENDS


											About Unifeeder A/S: Unifeeder, the asset-light logistics company, operates approximately 60 short-term chartered vessels, carrying around 3.2m TEUs and performing some 12,000 port calls annually. Unifeeder serves two distinct markets: Feeder Services transport containers from the large European hubs to regional ports, thereby providing major international deep-sea container shipping lines easy access to ports and regions beyond their reach. Shortsea Services provide

											fully multimodal door-to-door transport of full-load containerized cargo for customers across Europe, combining seaborne transportation with third party road and/or rail logistical services. Founded in 1977 and headquartered in Aarhus, Denmark, Unifeeder has ~400 employees and professional representatives in 25 countries.
										</p>

										<div class="post-meta">
											<span><i class="fas fa-user"></i> By <a href="#">Redwan Ahmed</a> </span>
											<span><i class="fas fa-tag"></i> <a href="#">Dubai, UAE</a></span>
											<span class="d-block d-sm-inline-block float-sm-right mt-3 mt-sm-0">
												<a href="http://web.dpworld.com/wp-content/uploads/2018/08/2018_08_07-Project-Athena_reg-announcement_FINAL-1.pdf" class="btn btn-xs btn-primary">Read more...
												</a>
											</span>
										</div>

									</div>
								</article>

								<!--BLOG -->
								<article class="post post-large">
									<div class="post-image single">
										<img class="img-thumbnail" src="images/page_blog/blog-image-1.jpg" alt="">
									</div>

									<div class="post-date">
										<span class="day">30</span>
										<span class="month">JUL</span>
									</div>

									<div class="post-content">

										<h2><a href="https://www.linkedin.com/pulse/how-does-ai-work-tommy-weir/">How does A.I. work?</a></h2>
										<p>As I explained last time, too many people are misusing the term ‘artificial intelligence’. AI is more than what you see on the apps on our phones, the smart tech in our homes or the personal assistants like Alexa or Siri that respond to our every command. AI machines don’t sit idly awaiting instruction, they “think” for themselves. No wonder people get it wrong; the very idea is enough to boggle the mind.
											To understand what it’s all about, we need to set aside what our brains might interpret as AI and dig deeper into its core—the machine learning that is capable of truly amazing things.
											Machine learning is the field of computer science that deals with algorithms that make predictions and learn from the data, without being explicitly programmed. Simply stated, the algorithm is let loose on the data. It learns from the data and makes predictions previously unseen. And the predictions become better over time as they are fed more data.
											Here, two elements are essential: data and the right algorithm. The more data you have, the better. Limited and incomplete data increases error margins exponentially. If you give the machine garbage, it will merely perfect your garbage. As for algorithms, you must select the ones that are appropriate for your problem. As an analogy, to clean your house, you might use a vacuum or a broom, but you wouldn’t bust out a shovel and start digging.
											Algorithms aren’t new, they can be traced back millennia to Greek mathematicians such as Euclid, the “father of geometry”, who developed an algorithm that became the most efficient method for computing the greatest common divisor (GCD) of two numbers. But now, with vast data and robust computing power, the machine can use algorithms to do what was once restricted to the human, but on scale and at speed.
											Machine learning algorithms divide into two main categories: supervised learning and unsupervised learning. At the “supervised” extreme, the algorithm is presented with pre-classified data. Here, the goal of the algorithm is to learn the general rules that connect the inputs to the outputs. In supervised learning, the algorithms try to model relationships and dependencies between the target output and the input features.
											For example, the algorithm could be presented with your employee data, including results achieved (in this case, output from the hours worked). Given that records of employees’ work are generally trackable via email and calendars, you can use supervised learning to determine what features are most impactful. You can then use these features to predict future performance and productivity.
											At the “unsupervised” extreme, no labels are given. Instead, the algorithm figures out the structure and pattern of the inputs on its own, by mining for rules, detecting patterns and grouping data to help derive meaningful insights. This is particularly useful when you don’t know what exactly you’re looking for!
											All four types “learn” a target function that best maps input variables to an output variable. The relationships are then used to develop models, which in turn predict future actions designed to reach target outcomes.
											Algorithms capable of unsupervised learning can identify the relationships between variables in a historical data set and infer its structure. They can also carry out optimization—a mathematical approach to problem-solving. As the name suggests, optimization searches for an optimal solution. It does this by starting at one point and systematically moving to the neighboring solutions until it finds the optimal option. These algorithms represent the world in a format that a computer system can use in order to perform complex tasks, and are instrumental in enabling signal processing, computer vision, speech to text, and natural language processing.
											At this point, you may be thinking, “I’m not responsible for IT and don’t influence how my company uses AI.” That’s fine, but I can tell you that one of my biggest gains from working with machine learning for leadership impact has come from using algorithms.
											Whether you love or hate math, learn like a machine—think through your work algorithmically.
											A thinker, speaker, and writer to the core, Dr. Tommy holds a doctorate in strategic leadership from Regent University, and is the founder of EMLC where he is the region's leading CEO Coach. In addition to writing a number of books—including the Amazon #1 best-seller, Leadership Dubai Style and 10 Tips for Leading in the Middle East, Dr. Tommy is the editor-in-chief of Emerging Markets Business—The Authoritative Review.
										</p>

										<div class="post-meta">
											<span><i class="fas fa-user"></i> By <a href="#">Tommy Weir </a>, Founder of the EMLC Leadership Ai Lab</span>

											<span><i class="fas fa-tag"></i> <a href="#">Dubai, UAE</a></span>
											<span class="d-block d-sm-inline-block float-sm-right mt-3 mt-sm-0">
												<a href="https://www.linkedin.com/pulse/how-does-ai-work-tommy-weir/" class="btn btn-xs btn-primary">Read more...
												</a>
											</span>
										</div>

									</div>
								</article>

								<!--BLOG -->
								<article class="post post-large">
									<div class="post-image single">
										<img class="img-thumbnail" src="images/page_blog/blog-image-4.jpg" alt="">
									</div>

									<div class="post-date">
										<span class="day">23</span>
										<span class="month">JUL</span>
									</div>

									<div class="post-content">

										<h2><a href="https://www.linkedin.com/pulse/what-ai-tommy-weir/">What is A.I.?</a></h2>
										<p>One of my pet peeves is people using terms they don’t really understand, especially when they misuse them. Knowing terms and knowing how to use them are two fundamentally different things, yet some people simply can’t resist the temptation to hijack the latest buzzword or tech term in an attempt to impress.
											Of late, one of the victims of reckless misuse is artificial intelligence (AI). Repeatedly confused with all things technologically “smart”, the term is now bounced around coffee shops, conference halls and boardroom tables with troubling frequency.
											Let’s set the record straight: the apps on your smart device, the GPS on your cell phone, the voice activated gadgets that switch your living room lights on and off, are not AI. But if that’s the case, then what is? What is artificial intelligence?
											Well, colloquially and broadly speaking, it is the advancement of computer systems to perform the kind of tasks usually limited to humans. More specifically, when American computer scientist John McCarthy coined the term in 1955, he was referring to “thinking machines.” In other words, machines that are able to mimic cognitive functions, such as learning and problem solving, that we associate with human minds.
											As you can see, the definition of AI isn’t the complication. In fact, it is the simplicity of it that enables people to freely use—and misuse—the term. We can all spell out the words and throw them into a sentence, but the complexity is in really knowing how to use them, and this is where many people fall down.
											When you use AI, the chances are, what you really mean is machine learning. That is, the broader concept of machines being able to carry out tasks in a way that you would consider “smart”. It is the core of AI, much like the engine is a core component of a car. Of course, a car is more than the engine, but without it, there is really no car. Put another way, machine learning is simply a way of achieving AI, based around the idea that we should really just be able to give machines access to data and let them learn for themselves.
											Admittedly, AI and machine learning seem similar, but they are not quite the same thing, and the fact that they’re used synonymously—and therefore incorrectly—is one of my pet peeves. The trouble is, to get to grips with how to use the terms, you need to have an idea of how machine learning works, and that means mathematics. Unfortunately for all of the math haters out there, it is based upon algorithms, which amounts to a step-by-step procedure for solving a problem or accomplishing some end.
											Machine learning is a way of “training” an algorithm so that it can learn. This “training” involves feeding huge amounts of data to the algorithm and then allowing it to adjust itself and improve. As the algorithm learns and creates patterns, it uses what it has learned in order to recognize more of the unknown.
											Take Bayesian statistics as an example. It is at the heart of many, though of course not all, machine-learning models. Using the Bayesian model, the algorithm is represented by the following equation: P(A|B) = P(B|A)P(A)/P(B)
											Where P(A|B) is the likelihood of A given that B is true
											P(B|A) is the likelihood of B given that A is true
											P(A) and P(B) are probabilities of A and B if they are independent.
											It’s a deceptively simple formula used to calculate conditional probability, but when run over millions of rows of data with numerous columns, features and characteristics for each record, it identifies patterns that our brains never could, and learns how to improve without human interference.
											In next week’s column, we’ll see what the algorithms are used for and what AI is capable of, but for now, let’s stick with the basics. Don’t be fooled by impressive vocabulary or try to impress others by using terms that you only know the dictionary definition of. Take the time to understand or leave them well alone.
											A thinker, speaker, and writer to the core, Dr. Tommy holds a doctorate in strategic leadership from Regent University, and is the founder of EMLC where he is the region's leading CEO Coach. In addition to writing a number of books—including the Amazon #1 best-seller, Leadership Dubai Style and 10 Tips for Leading in the Middle East, Dr. Tommy is the editor-in-chief of Emerging Markets Business—The Authoritative Review.
										</p>

										<div class="post-meta">
											<span><i class="fas fa-user"></i> By <a href="#">Tommy Weir </a>, Founder of the EMLC Leadership Ai Lab</span>

											<span><i class="fas fa-tag"></i> <a href="#">Dubai, UAE</a></span>
											<span class="d-block d-sm-inline-block float-sm-right mt-3 mt-sm-0">
												<a href="https://www.linkedin.com/pulse/what-ai-tommy-weir/" class="btn btn-xs btn-primary">Read more...
												</a>
											</span>
										</div>

									</div>
								</article>

								<!--BLOG -->
								<article class="post post-large">
									<div class="post-image single">
										<img class="img-thumbnail" src="images/page_blog/blog-image-3.jpg" alt="">
									</div>

									<div class="post-date">
										<span class="day">09</span>
										<span class="month">JUL</span>
									</div>

									<div class="post-content">

										<h2><a href="https://www.linkedin.com/pulse/machines-learning-humans-leading-tommy-weir/">Machines Learning, Humans Leading</a></h2>
										<p>Imagine what your day would be like if all of your mundane work were removed, freeing you to focus on more complex tasks: determining direction, exercising judgment, improving execution, getting closer to the customer. It’s the idea of stepping away from repetitive tasks and striding towards high-value work.
											Machine learning can help you do just that, enabling you to punch above your leadership weight by complementing and augmenting your existing capabilities. In doing what they do best—performing repetitive tasks, analyzing huge data sets and handling routine cases—machines can free you up to actually lead. I call this machines learning and humans leading. It’s the Leadership Engine.
											I’m not talking about automation or traditional analytics; the Leadership Engine is the marriage of machine and man. In the past, the machine was primarily used to focus on automating specific workflows, but the machine should do as much of the linear, standardized, repetitive work as possible. Let’s face it, it’s better and faster at it than you’ll ever be, so why should you do what a machine can do better?
											Don’t be afraid. Embrace the power of machines to enhance your ability to sense, comprehend, act and learn. Let it do the tedious grunt work, collect data and do preliminary analyses. Believe it or not, by removing the mechanistic work, machines can in fact help you be more human.
											Leaders rarely enjoy performing robotic tasks day in and day out, and they shouldn’t have to. The value of leaders doesn’t lie in their ability to execute repetitive tasks, but in their ability to exercise judgment, make impactful decisions, build execution capabilities in the organization, and deliver the intended results. Yet, most leaders spend too much of their time at the front end of the leadership stack, gathering and processing insights and making predictions about what will happen.
											The tasks of making such predictions and of extracting useful information from pools of data should shift from human to machine if a leader’s true value is to be maximized. To this end, using machine learning algorithms to formulate the right questions will enable you to process multiple datasets simultaneously, given the vast combinations of features and potentially high dimensionality.
											My imagination is going even further than reimaging what your day would be like. I’m reimagining leadership by envisioning how the machine-leader marriage can be even more intimate. It doesn’t need to be limited to a transactional relationship with the machine taking routine tasks away, machine learning can transform how you lead. Its algorithms are able to produce a dizzying array of new ideas—potential areas of strategy, that no one has ever seen. The chances are, given the uncontained potential of unstructured learning, some of those ideas could be out of this world.
											While strong leaders come up with creative insights, machines are unequivocally better at gathering, organizing and presenting the inputs you need. Ever since I was introduced to AI, I’ve been captivated by the realization that, as a human, I forget what I’ve previously learned and am greatly limited in my ability to process vast inputs. But, I’m also relieved to know that with the help of machine learning, we’ll be able to better inform the hypotheses upon which we base many of our business decisions.
											As with other scientific processes, the science of leadership begins with the generation of a hypothesis. Historically, leaders have often relied on limited experience and intuition to come up with a hunch about what to do. Today, the machine can generate broader, more in-depth and more creative predictions of what’s possible. Drawing on this ability, AI in the different facets of leadership—observations and insights, prediction, judgment and execution—will produce remarkable gains.
											Artificial intelligence isn’t going to outright replace you as a leader, but if you let it, it will amplify your skill and help you achieve the kind of productivity gains that have not previously been possible.
											Superleader capabilities will only be unleashed when you lean on the machine.
										</p>

										<div class="post-meta">
											<span><i class="fas fa-user"></i> By <a href="#">Tommy Weir </a>, Founder of the EMLC Leadership Ai Lab</span>

											<span><i class="fas fa-tag"></i> <a href="#">Dubai, UAE</a></span>
											<span class="d-block d-sm-inline-block float-sm-right mt-3 mt-sm-0">
												<a href="https://www.linkedin.com/pulse/machines-learning-humans-leading-tommy-weir/" class="btn btn-xs btn-primary">Read more...
												</a>
											</span>
										</div>

									</div>
								</article>

								<!--BLOG -->
								<article class="post post-large">
									<div class="post-image single">
										<img class="img-thumbnail" src="images/page_blog/blog-image-4.jpg" alt="">
									</div>

									<div class="post-date">
										<span class="day">22</span>
										<span class="month">JUN</span>
									</div>

									<div class="post-content">

										<h2><a href="https://www.syncron.com/leveraging-blockchain-technology-to-offer-visibility-and-traceability-for-after-sales-supply-chains-blog/">LEVERAGING BLOCKCHAIN TECHNOLOGY TO OFFER VISIBILITY AND TRACEABILITY FOR AFTER-SALES SUPPLY CHAINS</a></h2>
										<p>Today’s global market is full of limitless opportunities: companies have the possibility to grow and expand into new geographies reaching customers almost anywhere in the world. Yet, these opportunities are also the cause of extremely complex and vulnerable modern-day supply chains, which, in turn, result in lack of traceability and obstructed visibility.

											CHALLENGES WITH TRACEABILITY AND VISIBILITY
											As manufacturers miss the tools to trace their products throughout the entire supply chain, counterfeiting has become a serious issue. Alone in 2017, the US Department of Homeland Security seized over $1.2B worth of falsified goods. Other unlawful issues related to the lack of traceability include unauthorized cross-border sales and falsified goods used in return frauds, to name a few.
											In a similar manner, upstream and downstream visibility is affected by insufficient exchange of information about stock levels between participating parties. Consequently, companies are often faced with misforecast inventories and missed sales due to stockouts.
											It’s clear that parts manufacturers are in need of traceability and visibility within their supply chains to achieve synergies and benefits, and in the case of supply chains controlled by a single entity — those challenges are addressed by connected supply chain management solutions.
											These solutions minimize the challenges of lack of traceability and obstructed visibility, and by equipping the after-sales industry with intelligent inventory management systems, like Syncron Inventory-Retail™, companies can improve cooperation between suppliers and dealers. This optimizes the complete supply chain from suppliers and distribution centers to dealers – to achieve best-in-class service levels, and its application is possible, providing there’s trust between all parties involved.
											Some retailers, however, do not operate in a cooperative environment. Competitive markets and demanding customers push dealers to offer multiple brands in their portfolio. In such cases, when a multi-franchise dealer shares their stock level data with suppliers, the question arises, “who should be the data custodian?” The obvious answer: respective suppliers. However, for the dealers, complexity of integration with multiple systems owned by different suppliers is enormous and impractical.
											On the other hand, a centralized solution would require employing a single third party to administer the data. Such an entity would wield enormous business and financial power over all involved parties. Additionally, a centralized solution creates a single point of failure in case of hacker attacks, bankruptcy, or technical problems.

											LANDSCAPE OF BLOCKCHAIN TECHNOLOGY IN SUPPLY CHAIN
											New solutions based on blockchain technology come into the picture by eliminating the need for central arbiters of trust who, especially in case of transactional supply chains, are difficult to establish. Blockchain technology allows for the creation of digital, tamper-proof ledgers, and is based on a distributed architecture, guaranteeing that no single user or even a group of users can take control over it.
											As such, it has an alluring potential to completely disrupt the way global supply chains operate today. It’s no wonder that in recent years, a multitude of initiatives emerged with a goal of optimizing supply chains by using blockchain technology. They almost entirely focus on either supply chains of heavily regulated markets (usually pharmaceutical, medical equipment or food) or those of luxury consumer goods (typically jewelry or apparel & footwear). An important market of after-sales service is, however, completely missed by the blockchain industry.
											After-sales service logistics are more challenging than that of finished goods. Volatile demands and the huge number of spare part types — a modern car and a jet airliner consist of 15,000+ and 300,000+ parts, respectively — make visibility a pre-requisite for an effective supply chain offering high service levels. Yet, the visibility aspect seems to be completely neglected by blockchain initiatives for after-sales.
											In addition, typical blockchain solutions are based on ledgers that are by design public to all participants and therefore not suitable for businesses that need to stay in control of their data.
											Another problem is that the current blockchain-based solutions to achieve traceability rely on the existence of unique identifiers for items. Unfortunately, despite large investments and promises made in the last two decades, the world is still in infancy when it comes to addressing the spare parts uniqueness problem. This was made very evident by the recent incident of a major US airline airplane whose engine exploded mid-air due to a fan blade disintegration. The ensuing investigation quickly revealed that it is virtually impossible to track back maintenance history of the broken fan blade. If critical parts as fan blades in a highly regulated industry of aerospace cannot be traced, one can only imagine how far we are from resolving the spare parts uniqueness problem.
											Although the world continues efforts to address the “uniqueness” issue, it’s clear that satisfactory, practical solutions lie years away. One notable initiative is “Item Unique Identification” mandated in 2005 by the US Department of Defense which requires all federal contractors to mark certain types of delivered machines and parts with unique identifiers. More recently, an attempt was made to introduce identity to 3D printed parts which is straightforward in case of the additive manufacturing process.
											Still, in the manufacturing industry, save a few exceptions, parts do not have unique identifiers. The excessive costs of introducing them to the manufacturing processes makes it unlikely that traceability solutions offered by current blockchain companies will be successful.

											A NEW APPROACH TO BLOCKCHAIN TECHNOLOGY
											Despite the aforementioned challenges, our belief that it’s conceivable to create a blockchain-based solution with all its inherent advantages but in addition offering both visibility and traceability, which could expedite adoption of the blockchain technology for after-sales.
											By using a distributed ledger based on blockchain technology, companies can provide a system which stimulates cooperation between selected participants of the supply chain. Suppliers, distribution centers, dealers and other parties could use it to publish current stock levels and movements. By sharing this information, they would improve the coordination of their supply chains and achieve unprecedented synergies. Another piece of the puzzle is to ensure traceability in the absence of unique parts identification, which could be realized by creating a link between physical products and their digital identities — a link that is not based on unique identifiers but enforced by financial incentives.
											Such a blockchain-based solution would be cryptographically secure with parties in full control of the access to their data. Separate authentication entities would confirm real-world identity of companies that join the system. This way, other participants could be sure that they cooperate with authentic partners. And, by exploring blockchain-based solutions, we’re furthering our commitment to empower manufacturers to maximize product uptime and deliver exceptional after-sales experiences, creating exciting opportunities for establishment of transparent and efficient supply chains of the future.

										</p>

										<div class="post-meta">
											<span><i class="fas fa-user"></i> By <a href="#">ANDRZEJ KACPERSKI - DYMITR PSZENICYN - TOMASZ URBANSKI  </a></span>

											<span><i class="fas fa-tag"></i> <a href="#">Dubai, UAE</a></span>
											<span class="d-block d-sm-inline-block float-sm-right mt-3 mt-sm-0">
												<a href="https://www.syncron.com/leveraging-blockchain-technology-to-offer-visibility-and-traceability-for-after-sales-supply-chains-blog/" class="btn btn-xs btn-primary">Read more...
												</a>
											</span>
										</div>

									</div>
								</article>

								<!--BLOG -->
								<article class="post post-large">
									<div class="post-image single">
										<img class="img-thumbnail" src="images/page_blog/blog-image-8.jpg" alt="">
									</div>

									<div class="post-date">
										<span class="day">31</span>
										<span class="month">MAY</span>
									</div>

									<div class="post-content">

										<h2><a href="http://blackinktech.com/blog/post/blockchain-will-give-supply-chain-reporting-more-transparency-visibility-and-security">Blockchain Will Give Supply Chain Reporting More Transparency, Visibility, And Security</a></h2>
										<p>Blockchain is not only good at keeping track of digital currencies – it can be used to keep track of physical objects, too. Released by an anonymous person or group (who goes by the alias Satashi Nakamoto) back in 2008, this technology offers a way of decentralizing ledgers and making them less susceptible to fraud. Manufacturers are already using it to make their supply chain reporting safer, more efficient and less prone to errors.

											The way it works is difficult to describe, but we go: a large network of computers cooperates in building a ‘chain’ – a chronological sequence of events such as ‘this package left the factory’ or ‘this package was delivered’ – which gets checked over and over on a continual basis by every computer in the network. Verifying a piece of information, such as which packages have not arrived yet, is simply a matter of looking at the chain and making a judgement based on the sequence of events stored therein. The advantage of having data stored in and analyzed by many computers at once instead of only one is simple to understand; without one central database that houses all your data, nothing can get lost and nothing can be maliciously altered without the entire network knowing about it. Another advantage is that, with many machines ‘pinging’ all at once, or sending out packages of information, the data can be accessed more quickly.
											Obviously, for manufacturers to take advantage of this technology they will have to find large networks of computers to act as their blockchain-checkers, or ‘miners.’ But this will not be difficult, since blockchain programs can easily be run on most run-of-the-mill business computers. Furthermore, they will be able to reduce this problem by providing their vendors with incentives to join their computers to the network. One incentive would be provided with no extra step involved: being a part of a blockchain network is more often than not the fastest way to gain information about whatever it is the particular blockchain represents, since the machine you view the data with is itself taking part in computing/housing the data.

											Making their supply chain data more reliable, more nimble and easier to access by implementing blockchain technology will have far-ranging effects for manufacturers. Salespeople will be able to provide their customers with more accurate delivery date estimates, meaning they will log more better interactions in CRM, and operations departments will have a better grasp over where the company’s assets are.

											There’s an old saying that goes “teamwork makes the dream work.” As far as supply chain reporting goes, that old saying certainly holds true.
										</p>

										<div class="post-meta">
											<span><i class="fas fa-user"></i> By <a href="#">Black Ink Team</a></span>

											<span class="d-block d-sm-inline-block float-sm-right mt-3 mt-sm-0">
												<a href="http://blackinktech.com/blog/post/blockchain-will-give-supply-chain-reporting-more-transparency-visibility-and-security" class="btn btn-xs btn-primary">Read more...
												</a>
											</span>
										</div>

									</div>
								</article>

								<!--BLOG -->
								<article class="post post-large">
									<div class="post-image single">
										<img class="img-thumbnail" src="images/page_blog/blog-image-5.jpg" alt="">
									</div>

									<div class="post-date">
										<span class="day">27</span>
										<span class="month">MAR</span>
									</div>

									<div class="post-content">

										<h2><a href="https://blog.kinaxis.com/2018/03/an-executives-guide-to-ai-in-supply-chain-management/">An executive’s guide to AI in supply chain management</a></h2>
										<p>Faster, smarter, more profitable supply chain decisions
											Transitioning from hype to reality, artificial intelligence (AI) is gaining momentum across industries thanks to an explosion in computing power and storage, the emergence of IoT (Internet of Things) and big data, and algorithmic advances. While there have been numerous examples of how AI can boost profits in supply chain execution—most notably in the form of autonomous vehicles and smart robotics—the benefits related to supply chain planning have largely been ignored.
											But that’s starting to change as future-focused executives see the potential to improve profitability and productivity by making faster, smarter supply chain planning decisions. The first step in achieving those benefits is understanding AI and the other technologies associated with it, and where they can help improve your supply chain planning initiatives.
											Emerging technologies and how they relate to supply chain planning
											People often use AI as a catch-all term for any kind of technology that involves smart machines. And while many of those fields do fall under the AI umbrella, it’s still important to know some of the key differences between the terminology. Here are three simple definitions of AI and related technologies, plus how they apply to supply chain planning.
											1. Artificial intelligence
											The ability of a machine to perform human-like functions such as perceiving, reasoning, learning, interacting with the environment, problem solving and exercising creativity to form plans, make decisions and achieve goals.
											Use in supply chain planning:
											Amplify the value of your existing processes and people with machine-assisted planning, which can help you bridge the knowledge gap between experienced and inexperienced planners, and gain real-time recommendations based on historical and current data analysis.
											Improve your supply chain visibility and risk insight by using AI to track and predict possible supply chain disruptions based on inputs and correlations across multiple data sources, including weather forecasts, news and even social media.
											2. Machine learning
											A subset of AI, machine learning is a method of data analysis where machines use algorithms to detect patterns, learn to make predictions and make recommendations by finding hidden insights in your data without being explicitly programmed where to look.
											Use in supply chain planning:
											Unlock new sources of revenue savings by implementing a self-healing supply chain that can continuously observe, monitor and correct out-of-tolerance lead times for all related products based on historical data and slope.
											Increase customer service levels with more accurate demand behavior for new products by using algorithms based on early-sell signals to optimize inventory levels and replenishment plans.
											3. Deep learning
											A subset of machine learning, deep learning leverages neural networks to understand vast amounts of unstructured or unlabeled data in either a supervised, semi-supervised or unsupervised way, drawing conclusions, learning if those conclusions are correct and then applying that learning to new data sets.
											Use in supply chain planning:
											Save time and money with an always-on automated planning agent that automatically handles low impact exceptions as they arise, delivers detailed reports on its observations and the corrective actions it took, and send alerts to the right people when larger issues arise.
											Companies are making big strides in developing and deploying real, practical applications of AI in supply chain management and planning. Before jumping on the bandwagon, ensure you’re not getting caught up in the hype and truly understand what you’re signing on for, because while AI is helping pioneer a new future, it still has its limitations.
										</p>

										<div class="post-meta">
											<span><i class="fas fa-user"></i> By <a href="#">Alexa Cheater</a></span>

											<span><i class="fas fa-tag"></i> <a href="#">Halifax, Nova Scotia</a></span>
											<span class="d-block d-sm-inline-block float-sm-right mt-3 mt-sm-0">
												<a href="https://blog.kinaxis.com/2018/03/an-executives-guide-to-ai-in-supply-chain-management/" class="btn btn-xs btn-primary">Read more...
												</a>
											</span>
										</div>

									</div>
								</article>

								<!--BLOG -->
								<article class="post post-large">
									<div class="post-image single">
										<img class="img-thumbnail" src="images/page_blog/blog-image-6.jpg" alt="">
									</div>

									<div class="post-date">
										<span class="day">12</span>
										<span class="month">FEB</span>
									</div>

									<div class="post-content">

										<h2><a href="https://www.syncron.com/leveraging-blockchain-technology-to-offer-visibility-and-traceability-for-after-sales-supply-chains-blog/">How Blockchain Technology Can Make the Supply Chain More Efficient, Transparent and Secure</a></h2>
										<p>Blockchain technology is causing a big disruption for logistics companies and has the potential to make the supply chain more efficient, transparent and secure. But what exactly is blockchain and how will it impact the supply chain?
											Recently, U.S. blockchain company Skuchain partnered with NTT Data to build a blockchain platform for supply chain and logistics management. The platform combines blockchain technology with IoT and innovations, such as RFID. The solution has been trialed in Japan’s manufacturing sector and has successfully been used to improve supply chain efficiency. Blockchain offers the ability to track and trace goods throughout each point of the supply chain, from manufacturing to sales. The technology reduces stock wastage, increases efficiencies and provides companies greater control over their supply chains.
											Chains of Freedom
											As businesses become more dependent on global supply chains for goods and services, the freight and logistics industry will play a much more critical role. Currently, the industry is controlled by freight brokers who help facilitate transactions of loads from shippers to carriers by adding a markup. This not only increases the costs for the carriers, but also of the downstream prices to the consumers. The sheer number of these intermediaries magnifies the problem multifold. Another problem is cargo theft. Cargo theft causes losses of approximately $30 billion per year. Since the nature of ownership is distributed, this means there is no one party that is accountable.
											Traditional supply chains have relied on physical movement of lot of large volumes of paper documents. For example, a shipment of flowers from the Kenyan port of Mombasa to Rotterdam generated dozens of documents and hundreds of communications involving farmers, freight-forwarders, land-based transporters, customs brokers, governments, ports and carriers. This can result in huge challenges in efficiency, tracking and theft.
											Blockchain can help to solve these challenges of efficiency, transparency, tracking and security. For example, by using smart contracts (that are automatically triggered when pre-defined conditions are met), it can eliminate or drastically reducing the role of intermediaries. Danish giant Maersk has partnered with IBM to use Blockchain based approach to put all documents into a single template based workflow, which is triggered when farmer submits the packing list. As each step in the supply chain is completed, the documents are captured and shared so that all the participants can see what has been submitted, when they were submitted and by whom. No party can modify a record without consensus from others on the network.
											Some companies have already started using blockchain to solve business challenges and are commercially available.
											What Does This Mean for Supply Chain Solution Providers?
											According to a new report from Tractica, annual revenue for enterprise applications of Blockchain will increase from $2.5 billion worldwide in 2016 to $19.9 billion by 2025.
											A cloud platform enabled blockchain service will present opportunities to integrate next generation technologies with Blockchain and help customers redefine their business by meeting their Blockchain-related requirements. Solution providers need to enhance their offerings to enable their customers in improving the efficiency, security and transparency of their multi-party processes and collaborative supply chains. It’s not too early to start thinking about developing Blockchain extensions to their existing applications, especially in the following areas:
											1.	Logistics and transportation
											2.	Collaborative workflows
											3.	Multi-echelon, omni-channel fulfilment
											4.	IoT: Blockchain stores manage, protect and transfers the smart information from smart appliances and smart chain sensors
										</p>

										<div class="post-meta">
											<span><i class="fas fa-user"></i> By <a href="#">Vinay Mohan Sharma</a></span>

											<span class="d-block d-sm-inline-block float-sm-right mt-3 mt-sm-0">
												<a href="https://www.syncron.com/leveraging-blockchain-technology-to-offer-visibility-and-traceability-for-after-sales-supply-chains-blog/" class="btn btn-xs btn-primary">Read more...
												</a>
											</span>
										</div>

									</div>
								</article>

								<!--BLOG -->
								<article class="post post-large">
									<div class="post-image single">
										<img class="img-thumbnail" src="images/page_blog/blog-image-7.jpg" alt="">
									</div>

									<div class="post-date">
										<span class="day">29</span>
										<span class="month">MAR 2016</span>
									</div>

									<div class="post-content">

										<h2><a href="https://news.ewmfg.com/blog/can-expedited-shipping-be-a-strategic-supply-chain-solution">Can Expedited Shipping be a Strategic Supply Chain Solution?</a></h2>
										<p>The highly competitive landscape of global manufacturing has changed the game when it comes to international logistics. Expedited shipping was once reserved for emergencies only – but this isn't the case anymore. Some companies are leveraging their resources and incorporating expedited shipments in their supply chain strategies to stay competitive and meet demanding deadlines. Read on to learn more about how you can shift expedited shipments from an emergency-only solution to a strategic problem-solver.

											A Changing Landscape
											Gone are the days when regular use of expedited services was reserved only for buyers of perishables and retailers stocking up for the busy, holiday sales season. As markets become increasingly saturated and competition continues to intensify, companies are learning to adapt and finding new ways to create value for their customers.
											For instance, e-commerce sites are relying more and more on air freight and other expedited shipping services to shorten transit times and get goods in customers' hands faster than ever before (still awaiting the advent of those drone deliveries, though).
											Although expedited shipping comes at a premium, the cost is often offset by the benefits,including increased flexibility and lean inventory maintenance. As logistics providers have come to recognize buyers' changing needs, they've responded by adding new expedited services, from Matson's expedited ocean transit (you can even get a guaranteed ocean delivery date) and various air/ocean/truck hybrid options. Read more about these services below.

											A Wider Range of Options
											Your available shipping options are no longer limited to bank-breaking air freight or slow-as-molasses ocean transit. Even courier services like UPS have developed innovative alternatives to balance speed and cost. Below are just a few examples of expedited options to consider to better manage your supply chain.

											Air Freight
											The word expedited may conjure up bad memories of air freight for some, but the world of rushed delivery has come a long way. Although air freight is very common, there are other options out there. When shipping product by air, plan to send only the minimum amount required to get by until the next ocean shipment arrives. Basing this calculation on accurate daily run rates and real-time inventory levels can save thousands of dollars. If the minimum amount still ends up being a really large shipment, chartering a plane is also an option.

											UPS Preferred Multimodal Freight Services
											UPS is one courier company who has expanded its offerings to include innovative shipping options "that bridge the gap between the speed of air freight and the economy of ocean freight," according to their site. By utilizing their Preferred Multimodal Freight service, you can book a shipment LCL, FCL or with an option that utilizes UPS road freight networks, rail service, air, and ocean transport to offer you a combination of freight options to get your shipment there faster and at reduced cost. You can even book with a guaranteed delivery date so you can rest assured your shipment will arrive on time.
											Team Truckers
											One worthwhile expediting option – and air freight alternative – is team trucking. Maybe you'd normally send your goods on the rail for a long cross-country trip, but you need to meet a tight deadline or you simply need more time for quality inspection pre-shipment. In this case, you can opt for a team trucking service. Team truckers can cut an additional 1-2 days off inland transit time, but they come at a premium (of course). It's important to note that team truckers will only be booked for significant distances since they simply aren't efficient for traveling short distances. One example of this type of service is Schneider's Team Expedited.

											Hybrid Services
											Several freight forwarders offer unique intermodal solutions, like carefully planned combinations of air and ocean freight to get your goods from supplier to customer. Imagine this scenario: the air freight quote has given you sticker shock, but you know that ocean freight will take too long. It's possible that a forwarder can find the best route, combining ocean and air freight with a dedicated truck to deliver your order as quickly and cost-effectively as possible. Think of this as the "middle of the road" option in terms of transit and cost. One example of a hybrid arrangment is international freight forwarder DB Schenker's Skybridge service.
											Benefits of Using Expedited Shipping as a Supply Chain Solution
											-	Lean inventory maintenance
											-	Reduced inventory carrying costs
											-	Shorter time to market
											-	Meet tight deadlines
											-	Fewer touch points than standard freight services (ideal for delicate goods)
											-	Extra attention and personnel means increased security
											-	Additional time to focus on more critical matters like quality control

											Case Study #1 : Expedited Shipments Help Skincare Product Reach New Markets
											One of our customers received the opportunity to sell their skincare product on a home shopping TV show. That home shopping magic caused an enormous, and somewhat underestimated, spike in sales. As a result, we were air freighting their product from Vietnam directly to the show's distribution center for several months to keep up with demand.
											These rushed shipments actually evolved into a smart strategy for our customer, allowing them to satisfy demand as it presented itself, rather than tying up cash in large piles of inventory only for the goods to collect dust (and eventually become obsolete) if sales dipped.
											Our customer's sales were through the roof, the TV show was pleased, and their product got tons of press. This grabbed the attention of companies in other markets (including Korea and Australia) they had not yet tapped. Their ability to meet demand, well, "on demand," enabled our customer to win business they hadn't even considered before (well, also the fact that they sell an amazing product, but you see my point).

											Case Study #2 : Electronics Company Uses Expedited Shipments to Improve Cash Flow
											Another customer, an electronics company, opts for expedited shipments as a strategy to improve their financial well-being. Since East West manufactures their products in Vietnam and ships them to the US east coast, they're up against 40+ day transit times to their facility.
											To alleviate the strain of tied-up cash due to in-transit inventory, this company decided to ship expedited service (ocean transit from Vietnam to the US west coast + team truckers to the US east coast) to reduce total transit times and deliver goods (and thus, invoice their customer and get paid) sooner.
											This approach has proved successful and helps them meet or exceed their customers' expectations while freeing up cash and maintaining a leaner inventory.

											Conclusion
											Changing your perception of expedited freight will allow you to see the (sometimes hidden) advantages to incorporating this option into your supply chain strategy. Focus on the benefits while weighing the costs. Do the advantages offset the cost enough to warrant going that route? The answer could very well be a big, fat NO, but it's definitely worth exploring.
											As logistics providers continue to adapt to evolving market needs, more creative options will surface to meet your unique needs without emptying your wallet. Be open-minded, and think outside the box (or shipping container).


										</p>

										<div class="post-meta">
											<span><i class="fas fa-user"></i> By <a href="#">Mary-Kerstin Hassiotis</a></span>

											<span class="d-block d-sm-inline-block float-sm-right mt-3 mt-sm-0">
												<a href="https://news.ewmfg.com/blog/can-expedited-shipping-be-a-strategic-supply-chain-solution" class="btn btn-xs btn-primary">Read more...
												</a>
											</span>
										</div>

									</div>
								</article>







<!--								<ul class="pagination float-right">
									<li class="page-item"><a class="page-link" href="#">«</a></li>
									<li class="page-item active"><a class="page-link" href="#">1</a></li>
									<li class="page-item"><a class="page-link" href="#">2</a></li>
									<li class="page-item"><a class="page-link" href="#">3</a></li>
									<li class="page-item"><a class="page-link" href="#">»</a></li>
								</ul>-->

							</div>
						</div>
					</div>

				</div>

			</div>


		</div>

<% include partials/include_footer.html %>



	</body>
</html>

<script>
    $('#company').toggleClass('active');
</script>