<!DOCTYPE html>
<html>
<% include partials/include_ccs.html %>

<!--MENU bar-->
<% include partials/include_menubar.html %>

<body data-spy="scroll" data-target="#sidebar" data-offset="120">
		<div class="body">

			<div role="main" class="main">

				<section class="page-header">
					<div class="container">
						<div class="row">
							<div class="col">
								<ul class="breadcrumb">
									<li><a href="index.html">Home</a></li>
									<li class="active">Sitemap</li>
								</ul>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<h1>Sitemap</h1>
							</div>
						</div>
					</div>
				</section>

				<div class="container">

					<div class="row justify-content-between">

						<div class="col-lg-4">
							<ul class="nav nav-list flex-column mb-5">
								<li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
								<li class="nav-item"><a class="nav-link" href="main_platform.html">Platform</a></li>
								<li class="nav-item"><a class="nav-link" href="main_services.html">Services</a></li>
								<li class="nav-item"><a class="nav-link" href="main_technology.html">Technology</a></li>
								<li class="nav-item"><a class="nav-link" href="main_preso.html">Presentation</a></li>

							</ul>
						</div>

						<div class="col-lg-8">
							<h2 class="mb-4">Who <strong>We Are</strong></h2>

							<div class="row align-items-center">
								<div class="col-lg-10">
									<p class="lead">
										Our blockchain technology serves retailers worldwide. It is private, practical and simple to
										use.
									</p>
								</div>
								<div class="col-lg-2">
									<a href="main_careers.html" class="btn btn-lg btn-primary">Join Our Team!</a>
								</div>
							</div>
							<div class="featured-box featured-box-primary">
								<div class="box-content">
									<div class="testimonial testimonial-style-3">
										<blockquote>
											<p>Blockchain will bring visibility of goods in transit like never before and by 2027
												it could store up to 10% of global GDP. Supply chain intelligence, blockchain and artificial
												intelligence will make the global supply chain faster, cheaper and more productive.</p>
										</blockquote>
										<div class="testimonial-arrow-down"></div>
										<div class="testimonial-author">
											<div class="testimonial-author-thumbnail">
												<img src="images/sultan.png" class="img-fluid rounded-circle" alt="">
											</div>
											<p><strong>Sultan Ahmed Bin Sulayem</strong><span>Group Chairman and CEO of DP World </span>

										</div>
									</div>
								</div>
							</div>

						</div>

					</div>

				</div>

			</div>

		</div>

		<% include partials/include_footer.html %>
</body>
</html>
