<!DOCTYPE html>
<html>
<% include partials/include_ccs.html %>

<body>
<!--MENU bar-->
<% include partials/include_menubar.html %>

<div class="body">

    <div role="main" class="main">

        <section class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <ul class="breadcrumb">
                            <li><a href="index.html">Home</a></li>
                            <li class="active">Technology</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h1>Technology</h1>
                    </div>
                </div>
            </div>
        </section>

        <!--TECHNOLOGY-->
        <div class="container">

            <h2>Blockchain Technology</h2>
            <p class="lead">Private shipper controlled blockchain for trusted transactions among your supply chain service providers.</p>

            <p>DP World Blockchain is a web service that enables shippers to launch private blockchain in the cloud. It is
                designed
                to make blockchain technology easy to use for shippers. The blockchain is private and secure. A simple
                interface allows shippers to add their service providers and
                configure them with minimal friction. Transactions are by design,
                immutable and independently verifiable.</p>
            <section class="call-to-action  featured featured-primary with-borders with-button-arrow mb-5">
                <div class="col-sm-9 col-lg-9">
                    <div class="call-to-action-content">
                        <h4>To quickly deploy and experiment with your <strong>Blockchain</strong> network in <span
                                class="alternative-font">minutes</span>
                            please contact
                            us!</h4>
                        <p class="mb-0">We also offer <strong>online demo</strong> and <strong>store tour</strong>.
                        </p>
                    </div>
                </div>
                <div class="col-sm-3 col-lg-3">
                    <div class="call-to-action-btn">
                        <a href="main_contactus.html" class="btn btn-lg btn-primary btn-outline">Get Started</a><span
                            class="arrow hlb d-none d-md-block appear-animation animated rotateInUpLeft appear-animation-visible"
                            data-appear-animation="rotateInUpLeft"
                            style="left: 110%; top: -38px; animation-delay: 100ms;"></span>
                    </div>
                </div>
            </section>

            <p>DP World Blockchain gives you access to flexible and cost-effective resources
                to quickly deploy and experiment with your blockchain network in <span
                        class="alternative-font">minutes</span>.
            </p>
            <div class="featured-boxes featured-boxes-flat">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="featured-box featured-box-green featured-box-effect-2" style="height: 206px;">
                            <div class="box-content">
                                <i class="icon-featured fas fa-user-secret"></i>
                                <h4>Private</h4>
                                <p>

                                    Control access to your Blockchain data with granular permission polices giving
                                    each participant in the network limitted and controlled access to the ledger.
                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="featured-box featured-box-green featured-box-effect-2" style="height: 206px;">
                            <div class="box-content">
                                <i class="icon-featured fas fa-lock"></i>
                                <h4>Secure</h4>
                                <p>Comprehensive security capabilities to satisfy the most demanding requirements.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="featured-box featured-box-green featured-box-effect-2" style="height: 206px;">
                            <div class="box-content">
                                <i class="icon-featured fas fa-phone"></i>
                                <h4>Easy to Use</h4>
                                <p>Intuitive interface. Around the clock friendly and knowledgeable support.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="featured-box featured-box-green featured-box-effect-2" style="height: 206px;">
                            <div class="box-content">
                                <i class="icon-featured fas fa-cloud"></i>
                                <h4>Scalable</h4>
                                <p>Cloud based service. Scale up and down as required with only a few minutes
                                    notice.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!--CAPABILITIES-->
        <section class="section section-tertiary section-no-border mb-0">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="heading-dark"><strong>Capabilities</strong></h2>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4">
                        <div class="feature-box feature-box-style-4 appear-animation animated fadeInUp appear-animation-visible"
                             data-appear-animation="fadeInUp" data-appear-animation-delay="0"
                             style="animation-delay: 0ms;">
                            <div class="feature-box-icon">
                                <i class="icon-user-following icons"></i>
                            </div>
                            <div class="feature-box-info">
                                <h4 class="mb-2">DISTRIBUTED TRUST</h4>
                                <p class="mb-4">Multiple supply chain providers can transact with one another without
                                    having to know or trust each other.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="feature-box feature-box-style-4 appear-animation animated fadeInUp appear-animation-visible"
                             data-appear-animation="fadeInUp" data-appear-animation-delay="300"
                             style="animation-delay: 300ms;">
                            <div class="feature-box-icon">
                                <i class="icon-lock icons"></i>
                            </div>
                            <div class="feature-box-info">
                                <h4 class="mb-2">SECURE</h4>
                                <p class="mb-4">Retailer's Blockchain network can be restricted to known parties, and
                                    can also limit what transactions each party can see.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="feature-box feature-box-style-4 appear-animation animated fadeInUp appear-animation-visible"
                             data-appear-animation="fadeInUp" data-appear-animation-delay="600"
                             style="animation-delay: 600ms;">
                            <div class="feature-box-icon">
                                <i class="icon-calculator icons"></i>
                            </div>
                            <div class="feature-box-info">
                                <h4 class="mb-2">ACCURATE</h4>
                                <p class="mb-4">All transactions are attributable to one or more entities and each
                                    entity can independently verify these records.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-lg-3">
                    <div class="col-lg-4">
                        <div class="feature-box feature-box-style-4 appear-animation animated fadeInUp appear-animation-visible"
                             data-appear-animation="fadeInUp" data-appear-animation-delay="0"
                             style="animation-delay: 0ms;">
                            <div class="feature-box-icon">
                                <i class="icon-grid icons"></i>
                            </div>
                            <div class="feature-box-info">
                                <h4 class="mb-2">HIGHLY AVAILABLE</h4>
                                <p class="mb-4">Retailer's Blockchain network is decentralized and does not have a
                                    single point of failure.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="feature-box feature-box-style-4 appear-animation animated fadeInUp appear-animation-visible"
                             data-appear-animation="fadeInUp" data-appear-animation-delay="300"
                             style="animation-delay: 300ms;">
                            <div class="feature-box-icon">
                                <i class="icon-book-open icons"></i>
                            </div>
                            <div class="feature-box-info">
                                <h4 class="mb-2">IMMUTABLE</h4>
                                <p class="mb-4">Transactions cannot be removed or altered.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="feature-box feature-box-style-4 appear-animation animated fadeInUp appear-animation-visible"
                             data-appear-animation="fadeInUp" data-appear-animation-delay="6=]]]00"
                             style="animation-delay: 300ms;">
                            <div class="feature-box-icon">
                                <i class="icon-magic-wand icons"></i>
                            </div>
                            <div class="feature-box-info">
                                <h4 class="mb-2">AGILE</h4>
                                <p class="mb-4">Quickly get started with blockchain. Add suppliers as you rapidly
                                    iterate in the cloud.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>

    </div>

</div>

<% include partials/include_footer.html %>
</body>
</html>

<script>
    $('#technology').toggleClass('active');
</script>