<!DOCTYPE html>
<html>
<% include partials/include_ccs.html %>

<body>
<!--MENU bar-->
<% include partials/include_menubar.html %>

<div class="body">
    <div role="main" class="main">

        <section class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <ul class="breadcrumb">
                            <li><a href="index.html">Home</a></li>
                            <li class="active">Contact Us</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h1>Contact Us</h1>
                    </div>
                </div>
            </div>
        </section>

        <!-- Google Maps - Go to the bottom of the page to change settings and map location. -->
        <div id="googlemaps" class="google-map"></div>

        <div class="container">

            <div class="row mt-5 pt-2">
                <div class="col-md-6">

                    <h4 class="heading-primary">The <strong>Office</strong></h4>
                    <ul class="list list-icons list-icons-style-3 mt-4">
                        <li><i class="fas fa-map-marker"></i> <strong>Address:</strong> 11900 Northeast 1st Street, Suite 300, Buildling G, Bellevue, WA 98005
                        </li>
                        <li><i class="fas fa-phone"></i> <strong>Phone:</strong> 650-241-9105</li>
                        <li><i class="fas fa-envelope"></i> <strong>Email:</strong> <a
                                href="mailto:support@teuchain.com">support@teuchain.com</a></li>
                    </ul>

                    <div data-plugin-lightbox
                         data-plugin-options="{'delegate': 'a', 'type': 'image', 'gallery': {'enabled': true}}">
                        <div class="row">
                            <div class="col-lg-4">
                                <a class="img-thumbnail d-block mb-5" href="images/page_office/office1.jpg"
                                   data-plugin-options="{'type':'image'}">
                                    <img class="img-fluid" src="images/page_office/office1.jpg" alt="Office">
                                    <span class="zoom">
												<i class="fas fa-search"></i>
											</span>
                                </a>
                            </div>
                            <div class="col-lg-4">
                                <a class="img-thumbnail d-block mb-5" href="images/page_office/office2.jpg"
                                   data-plugin-options="{'type':'image'}">
                                    <img class="img-fluid" src="images/page_office/office2.jpg" alt="Office">
                                    <span class="zoom">
												<i class="fas fa-search"></i>
											</span>
                                </a>
                            </div>
                            <div class="col-lg-4">
                                <a class="img-thumbnail d-block mb-5" href="images/page_office/office3.jpg"
                                   data-plugin-options="{'type':'image'}">
                                    <img class="img-fluid" src="images/page_office/office3.jpg" alt="Office">
                                    <span class="zoom">
												<i class="fas fa-search"></i>
											</span>
                                </a>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="col-md-6">



                    <h4 class="heading-primary">Business <strong>Hours</strong></h4>
                    <ul class="list list-icons list-dark mt-4">
                        <li><i class="far fa-clock"></i> Monday - Friday - 9am to 5pm</li>
                        <li><i class="far fa-clock"></i> Saturday - Closed</li>
                        <li><i class="far fa-clock"></i> Sunday - 10am to 4pm</li>
                    </ul>

                </div>
            </div>

        </div>

    </div>

</div>

<% include partials/include_footer.html %>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDzuw2hVQTAKNCBi-vJPssLTEfh8cMvKdE"></script>
<script>

    /*
    Map Settings

        Find the Latitude and Longitude of your address:
            - http://universimmedia.pagesperso-orange.fr/geo/loc.htm
            - http://www.findlatitudeandlongitude.com/find-address-from-latitude-and-longitude/

    */

    // Map Markers
    var mapMarkers = [{
        address: "11900 Northeast 1st Street, Bellevue, WA 98005",
        html: "<strong>Our Office</strong><br>Bellevue, WA 98005",
        icon: {
            image: "images/page_office/pin_red.png",
            iconsize: [26, 46],
            iconanchor: [12, 46]
        },
        popup: true
    }];

    // Map Initial Location
    var initLatitude = 47.611484;
    var initLongitude = -122.182711;

    // Map Extended Settings
    var mapSettings = {
        controls: {
            draggable: (($.browser.mobile) ? false : true),
            panControl: true,
            zoomControl: true,
            mapTypeControl: true,
            scaleControl: true,
            streetViewControl: true,
            overviewMapControl: true
        },
        scrollwheel: false,
        markers: mapMarkers,
        latitude: initLatitude,
        longitude: initLongitude,
        zoom: 12
    };

    var map = $('#googlemaps').gMap(mapSettings);

    // Map text-center At
    var mapCenterAt = function (options, e) {
        e.preventDefault();
        $('#googlemaps').gMap("centerAt", options);
    }

</script>

<!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information.
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-12345678-1', 'auto');
    ga('send', 'pageview');
</script>
 -->

</body>
</html>

<script>
    $('#contactus').toggleClass('active');
</script>