<!DOCTYPE html>
<html>
<% include partials/include_ccs.html %>

<!--MENU bar-->
<% include partials/include_menubar.html %>

<body data-spy="scroll" data-target="#sidebar" data-offset="120">

<div class="body">

    <div role="main" class="main">

        <section class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <ul class="breadcrumb">
                            <li><a href="index.html">Home</a></li>
                            <li class="active">Platform</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h1>Platform</h1>
                    </div>
                </div>
            </div>
        </section>

        <div class="container">

            <div class="row">
                <div class="col-lg-3">
                    <aside class="sidebar" id="sidebar" data-plugin-sticky
                           data-plugin-options="{'minWidth': 991, 'containerSelector': '.container', 'padding': {'top': 110}}">

                        <h4 class="heading-primary">Platform</h4>
                        <ul class="nav nav-list flex-column mb-4 show-bg-active">
                            <li class="nav-item"><a class="nav-link" data-hash data-hash-offset="95" href="#Visibility">Item
                                Visibility</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-hash data-hash-offset="95" href="#Predictability">Item
                                    Predictability</a>
                            </li>
<!--                            <li class="nav-item"><a class="nav-link" data-hash data-hash-offset="95" href="#Cost">Radically
                                Transparent Cost</a>
                            </li>-->
                        </ul>

                    </aside>
                </div>
                <div class="col-lg-9">

                    <div id="Visibility">
                        <h2 class="mb-2">Item <strong>Visibility</strong></h2>
                        <div class="row">
                            <div class="col-sm-9">
                                <p class="lead">
                                    Your private blockchain showing accurate location of each item from the
                                    factory to the warehouse.
                                </p>
                                <p class="mt-4">
                                    <span class="alternative-font">DP World Blockchain Visibility</span> is a key feature of DP World blockchain platform.  Shippers, while having full supply chain visibility, can manage data access rights through granting various permission levels to other parties on their private blockchain.
                                </p>
                            </div>
                            <div class="col-sm-3">
                                <img class="float-left img-fluid" src="images/page_platform/visibility_icon.jpg">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="mt-3">
                                    Ability to see items across your supply chain from purchase order to production
                                    process, in-transit, held at customs and arrived.
                                <ul class="list list-icons list-icons-style-3 list-quaternary">
                                    <li><i class="fas fa-check "></i>Purchase order status, whether it
                                        is in pending, scheduled, in production or in transit.
                                    </li>
                                    <li><i class="fas fa-check"></i>In-transit visibility shows you all in-transit SKUs
                                        from manufacturing to final destination, whether it’s in a port, boarded on
                                        ship, or held at customs.
                                    </li>
                                    <li><i class="fas fa-check"></i>On-hand visibility provides you a complete picture
                                        of inventory in the supply chain, by linking all in production, in-transit, or
                                        at the distribution centers.
                                    </li>
                                </ul>
                                </p>

                            </div>
                        </div>

                        <span class="img-thumbnail d-block">
                                    <img src="images/page_platform/visibility_screenshot.jpg" class="img-fluid"
                                         alt="">
                        </span>
                        <ul class="portfolio-details">
                            <li>
                                <ul class="list list-inline list-icons">
                                    <li class="list-inline-item">Visibility Levels:</li>
                                    <li class="list-inline-item"><i class="fas fa-check-circle"></i> Purchase Order</li>
                                    <li class="list-inline-item"><i class="fas fa-check-circle"></i> Shipment</li>
                                    <li class="list-inline-item"><i class="fas fa-check-circle"></i> TEU</li>
                                    <li class="list-inline-item"><i class="fas fa-check-circle"></i> Item
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <hr class="taller">
                    <div id="Predictability">
                        <h2 class="mb-2">Item <strong>Predictability</strong></h2>
                        <div class="row">
                            <div class="col-sm-9">
                                <p class="lead">
                                    Your private blockchain showing accurate Estimated Time of Arrival (ETA) of your
                                    shipments and items.
                                </p>
                                <p class="mt-4">
                                    <span class="alternative-font">DP World Blockchain Predictability</span> is a web mapping
                                    service.
                                    It offers satellite imagery and panoramic views of vessels with your shipments,
                                    real-time maritime traffic conditions, and port congestions.

                                    Using real-time Satellite and historical data combined with weather
                                    conditions and port congestions the service generates the industry’s most accurate
                                    arrival time predictions.

                                    The service is using machine learning algorithms, so the accuracy of predictions
                                    improves with time.

                                    This service is linked with DP World’s proprietary terminal technology, which further increases data accuracy and offers precise time for when cargo is expected to leave the import terminal gates.
                                </p>
                            </div>
                            <div class="col-sm-3">
                                <img class="float-left img-fluid" src="images/page_platform/predictability_icon.jpg">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="mt-3">
                                    Ability to see ETAs across the supply chain, whether it’s under
                                    production process, in-transit or held at customs.
                                <ul class="list list-icons list-icons-style-3 list-quaternary">
                                    <li><i class="fas fa-check "></i>
                                        Real-time maritime traffic conditions enables you to track your shipments on
                                        vessels boards as they transit oceans.
                                    </li>
                                    <li><i class="fas fa-check"></i>
                                        Monitoring Port status through our terminal performance analytics platform which
                                        provides in terminal visibility and integrated with our partners terminals,
                                        revealing real-time data of terminal performance to improve predictability of
                                        your shipment status.
                                    </li>
                                    <li><i class="fas fa-check"></i>
                                        Weather condition monitoring ensures continuous ETA prediction precision if a
                                        shipment is on scheduled or out of time.
                                    </li>
                                    <li><i class="fas fa-check"></i>
                                        Leveraging historical data to accurately predict multiple lead times
                                        in your supply chain from manufacturing process to customs hold.
                                    </li>
                                </ul>

                                </p>

                            </div>
                        </div>

                        <span class="img-thumbnail d-block">
                                    <img src="images/page_platform/predictability_screenshot.jpg" class="img-fluid"
                                         alt="">
                        </span>
                        <ul class="portfolio-details">
                            <li>
                                <ul class="list list-inline list-icons">
                                    <li class="list-inline-item">Predictability Levels:</li>
                                    <li class="list-inline-item"><i class="fas fa-check-circle"></i> TEU</li>
                                    <li class="list-inline-item"><i class="fas fa-check-circle"></i> Shipment
                                    </li>
                                    <li class="list-inline-item"><i class="fas fa-check-circle"></i> Item
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!--<hr class="taller">
                    <div id="Cost">
                        <h2 class="mb-2">Radically Transparent <strong>Cost</strong></h2>
                        <div class="row">
                            <div class="col-sm-9">
                                <p class="lead">
                                    Your private blockchain showing you accurate location of each item from the
                                    factory to the warehouse.
                                </p>
                                <p class="mt-4">
                                    Our blockchain platform get notifications of every step of your supply chain.
                                    understand
                                    cost per/item break down From the time P.O. is issued till it arrives to your
                                    warehouse.

                                    Navigate cost through multiple deliveries, storage, and other logistic services
                                    costs
                                    of your shipment to the final destination. the visibility you achieve gets you
                                    closer to
                                    fully understanding your costs down to per/Item to utilize and transform your supply
                                    chain.

                                </p>
                            </div>
                            <div class="col-sm-3">
                                <img class="float-left img-fluid" src="images/page_platform/cost_icon.jpg">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="mt-3">
                                    Ability to see all item inventory across the supply chain, whether it’s under
                                    production process, in-transit, on-hand or held at customs.
                                <ul class="list list-icons list-icons-style-3 list-quaternary">
                                    <li><i class="fas fa-check "></i>Production visibility reveals PO status, whether it
                                        is under production or pending.
                                    </li>
                                    <li><i class="fas fa-check"></i>In-transit visibility shows you all in-transit SKUs
                                        from manufacturing to final destination, whether it’s in the port, boarded on
                                        ship, or held at customs.
                                    </li>
                                    <li><i class="fas fa-check"></i>On-hand visibility provides you a complete picture
                                        of inventory in the supply chain, by linking all in production, in-transit, or
                                        at the distribution centers.
                                    </li>
                                </ul>

                                </p>

                            </div>
                        </div>

                        <span class="img-thumbnail d-block">
                                    <img src="images/page_platform/cost_pic.jpg" class="img-fluid"
                                         alt="">
                        </span>
                        <ul class="portfolio-details">
                            <li>
                                <ul class="list list-inline list-icons">
                                    <li class="list-inline-item">Visibility Levels:</li>
                                    <li class="list-inline-item"><i class="fas fa-check-circle"></i> Purchase Order</li>
                                    <li class="list-inline-item"><i class="fas fa-check-circle"></i> Shipment
                                    </li>
                                    <li class="list-inline-item"><i class="fas fa-check-circle"></i> Item
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
-->
                </div>
            </div>

        </div>

    </div>

</div>

<% include partials/include_footer.html %>
</body>
</html>

<script>
    $('#platform').toggleClass('active');
</script>