<!DOCTYPE html>
<html>
<% include partials/include_ccs.html %>

<!--MENU bar-->
<% include partials/include_menubar.html %>

<body data-spy="scroll" data-target="#sidebar" data-offset="120">

<div class="body">

    <div role="main" class="main">

        <section class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <ul class="breadcrumb">
                            <li><a href="index.html">Home</a></li>
                            <li class="active">Services</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h1>Services</h1>
                    </div>
                </div>
            </div>
        </section>

        <div class="container">

            <div class="row">
                <div class="col-lg-3">
                    <aside class="sidebar" id="sidebar" data-plugin-sticky
                           data-plugin-options="{'minWidth': 991, 'containerSelector': '.container', 'padding': {'top': 110}}">

                        <h4 class="heading-primary">Maritime and Free Zone Services</h4>
                        <ul class="nav nav-list flex-column mb-4 show-bg-active">
                            <li class="nav-item">
                                <a class="nav-link" data-hash data-hash-offset="95" href="#Expediting">Item
                                    Expediting</a>
                            </li>
                            <li class="nav-item"><a class="nav-link" data-hash data-hash-offset="95" href="#ReRouting">Item
                                Re-Routing</a>
                            </li>
                            <li class="nav-item"><a class="nav-link" data-hash data-hash-offset="95" href="#Buffering">Item
                                Buffering</a>
                            </li>
                            <li class="nav-item"><a class="nav-link" data-hash data-hash-offset="95" href="#Labelling">Item
                                Labelling and Repackaging</a>
                            </li>
                            <li class="nav-item"><a class="nav-link" data-hash data-hash-offset="95" href="#Automation">Automation of Notification and Handling of Exceptional Events </a>
                            </li>
                        </ul>

                    </aside>
                </div>
                <div class="col-lg-9">

                    <div id="Expediting">
                        <h2 class="mb-2">Item <strong>Expediting</strong></h2>
                        <div class="row">
                            <div class="col-sm-9">
                                <p class="lead">
                                    Your private blockchain enabling you to expedite items from hub ports or inbound ports.
                                </p>
                                <p class="mt-4">
                                    <span class="alternative-font">DP World Blockchain Expediting</span> service will notify all
                                    relevant stakeholders across the supply chain and provide them with your updated shipping instructions.
                                    For example, if your shipment is passing through one of participating 78 marine & inland terminals across
                                    six continents, it will be isolated and expedited by utilizing a faster vessel or shipped via air.
                                    Upon arrival, your shipment can be expedited through the terminal and released on priority bases to a transportation mode of your choice.
                                </p>
                            </div>
                            <div class="col-sm-3">
                                <img class="float-left img-fluid" src="images/page_services/expediting_icon.jpg">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="mt-3">
                                    Ability to expedite containers, shipments and items, where available.
                                <ul class="list list-icons list-icons-style-3 list-quaternary">
                                    <li><i class="fas fa-check "></i>Notifications to all relevant blockchain
                                        participants
                                    </li>
                                    <li><i class="fas fa-check"></i>
                                        In-terminal expediting is achieved by delivering the shipment in a
                                        matter of hours of vessel arrival for customs-cleared cargo. Our first in line
                                        option
                                        minimizes time for cargo requiring further customs inspection.
                                    </li>
                                    <li><i class="fas fa-check"></i>Item level expediting in-transit shipments through
                                        our terminals
                                        by destuffing required shipments from the container and transloading it through
                                        3PLs
                                        to its final destination to meet required arrival time.
                                    </li>
                                    <li><i class="fas fa-check"></i>
                                        Expediting In-transit container or items by carrying out CFS operations and
                                        transloading it via a faster method of transport whether by rail, air or express
                                        feeder delivery.
                                    </li>
                                </ul>

                                </p>

                            </div>
                        </div>
                        <span class="img-thumbnail d-block">
                                    <img src="images/page_services/expediting_screenshot.jpg" class="img-fluid"
                                         alt="">
                        </span>
                        <ul class="portfolio-details">
                            <li>
                                <ul class="list list-inline list-icons">
                                    <li class="list-inline-item">Expediting Levels:</li>
                                    <li class="list-inline-item"><i class="fas fa-check-circle"></i> Container</li>
                                    <li class="list-inline-item"><i class="fas fa-check-circle"></i> Shipment (where
                                        available)
                                    </li>
                                    <li class="list-inline-item"><i class="fas fa-check-circle"></i> Item (where
                                        available)
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <hr class="taller">
                    <div id="ReRouting">
                        <h2 class="mb-2">Item <strong>Re-Routing</strong></h2>
                        <div class="row">
                            <div class="col-sm-9">
                                <p class="lead">
                                    Leverage digitalization capabilities of blockchain to seamlessly reconfigure trade documentation for re-routing.
                                </p>
                                <p class="mt-4">
                                    <span class="alternative-font">DP World Blockchain Re-Routing</span> service allows you to
                                    reroute in-transit or change
                                    destination of a shipment or a specific items of a shipment through our
                                    78 marine & inland terminals across six continents that are with Air,
                                    Rail, and Ground connectivity or through our reliable network of
                                    partners across the supply chain. Regulatory and customs restrictions will apply.

                                </p>
                            </div>
                            <div class="col-sm-3">
                                <img class="float-left img-fluid" src="images/page_services/rerouting_icon.jpg">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="mt-3">
                                <ul class="list list-icons list-icons-style-3 list-quaternary">
                                    <li><i class="fas fa-check "></i>Reroute in-transit shipments or a specific items to
                                        a new destination through our network that is able to destuff, stuff, and cross
                                        dock items to its new destination or transload it through 3PLs if required to
                                        minimize frozen periods.
                                    </li>
                                    <li><i class="fas fa-check"></i>Change destination of a shipment that have not
                                        shipped
                                        yet whether it’s at the manufactory or at the service provider warehouse.
                                    </li>
                                </ul>

                                </p>

                            </div>
                        </div>

                        <span class="img-thumbnail d-block">
                                    <img src="images/page_services/rerouting_pic.jpg" class="img-fluid"
                                         alt="">
                        </span>
                        <ul class="portfolio-details">
                            <li>
                                <ul class="list list-inline list-icons">
                                    <li class="list-inline-item">Re-Routing Levels:</li>
                                    <li class="list-inline-item"><i class="fas fa-check-circle"></i> Container</li>
                                    <li class="list-inline-item"><i class="fas fa-check-circle"></i> Shipment (where
                                        available)
                                    </li>
                                    <li class="list-inline-item"><i class="fas fa-check-circle"></i> Item (where
                                        available)
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <hr class="taller">
                    <div id="Buffering">
                        <h2 class="mb-2">Item <strong>Buffering</strong></h2>
                        <div class="row">
                            <div class="col-sm-9">
                                <p class="lead">
                                    Your private blockchain enabling you to designate un-needed items and request to
                                    store those items upstream for just in time delivery.
                                </p>
                                <p class="mt-4">
                                    <span class="alternative-font">DP World Blockchain Buffering</span> service enables retailers
                                    to delay and hold
                                    un-needed inventory upstream in low cost locations.
                                    The service provides an easy way to designate overstocked items and informs service
                                    providers to store the item.
                                    The item could be stored by your existing 3PL, in one of our participating
                                    distribution centers or at one of our terminals.
                                    <br>
                                    Through our Parks, Logistics & Economic Zones business we provide production and
                                    regional distribution centers
                                    that are connected with the global network of ports and terminals that are close to
                                    sea, air, road and rail
                                    connections. This multi-modal transportation enables the most efficient cargo
                                    movement and allows cargo owners
                                    to hold important items closer to the end destination to avoid running out of
                                    inventory and delivers shipments
                                    to their distribution centers just in time.
                                </p>
                            </div>
                            <div class="col-sm-3">
                                <img class="float-left img-fluid" src="images/page_services/buffering_icon.jpg">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="mt-3">
                                    Through our Parks, Logistics & Economic Zones (PLEZ) business we provide
                                    production and regional distribution centers.
                                <ul class="list list-icons list-icons-style-3 list-quaternary">
                                    <li><i class="fas fa-check "></i>Our production and regional distribution centers
                                        are connected to our global network of ports and terminals, which enables
                                        multi-modal approach and guarantees efficient cargo movement.
                                    </li>
                                    <li><i class="fas fa-check"></i>PLEZ are located in strategic location which makes
                                        it ideal for customers to buffer essential items closer to the end destination.
                                    </li>
                                    <li><i class="fas fa-check"></i>Buffering avoids running out of inventory and
                                        deliver
                                        shipments to their distribution centers in the best time eliminating multiple
                                        lead times.
                                    </li>
                                <li><i class="fas fa-check"></i>In locations around the world that are not covered by our PLEZs,
                                    we partner with leading local logistics services providers.
                                </li>

                                </ul>

                                </p>

                            </div>
                        </div>

                        <span class="img-thumbnail d-block">
                                    <img src="images/page_services/buffering_screenshot.jpg" class="img-fluid"
                                         alt="">
                        </span>
                        <ul class="portfolio-details">
                            <li>
                                <ul class="list list-inline list-icons">
                                    <li class="list-inline-item">Buffering Levels:</li>
                                    <li class="list-inline-item"><i class="fas fa-check-circle"></i> Container</li>
                                    <li class="list-inline-item"><i class="fas fa-check-circle"></i> Shipment (where
                                        available)
                                    </li>
                                    <li class="list-inline-item"><i class="fas fa-check-circle"></i> Item (where
                                        available)
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <hr class="taller">
                    <div id="Labelling">
                        <h2 class="mb-2">Item <strong>Labelling and Repackaging</strong></h2>
                        <div class="row">
                            <div class="col-sm-9">
                                <p class="lead">
                                    Localize your products for your destination markets at destination.
                                </p>
                            </div>
                            <div class="col-sm-3">
                                <img class="float-left img-fluid" src="images/page_services/buffering_icon.jpg">
                            </div>
                        </div>

                        <!--<span class="img-thumbnail d-block">
                                    <img src="images/page_services/buffering_screenshot.jpg" class="img-fluid"
                                         alt="">
                        </span>-->
                        <ul class="portfolio-details">
                            <li>
                                <ul class="list list-inline list-icons">
                                    <li class="list-inline-item">Labelling and Repackaging Levels:</li>
                                    <li class="list-inline-item"><i class="fas fa-check-circle"></i> Item
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <hr class="taller">
                    <div id="Automation">
                        <h2 class="mb-2">Automation of Notification and Handling of <strong>Exceptional Events</strong></h2>
                        <div class="row">
                            <div class="col-sm-9">
                                <p class="lead">
                                    Automate supply chain processes including monitoring and handling of exceptional events.
                                </p>
                            </div>
                            <div class="col-sm-3">
                                <img class="float-left img-fluid" src="images/page_services/buffering_icon.jpg">
                            </div>
                        </div>

                        <!--<span class="img-thumbnail d-block">
                                    <img src="images/page_services/buffering_screenshot.jpg" class="img-fluid"
                                         alt="">
                        </span>-->
                        <ul class="portfolio-details">
                            <li>
                                <ul class="list list-inline list-icons">
                                    <li class="list-inline-item">Automation of Notification:</li>
                                    <li class="list-inline-item"><i class="fas fa-check-circle"></i> Container</li>
                                    <li class="list-inline-item"><i class="fas fa-check-circle"></i> Shipment
                                    </li>
                                    <li class="list-inline-item"><i class="fas fa-check-circle"></i> Item
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

<% include partials/include_footer.html %>
</body>
</html>

<script>
    $('#services').toggleClass('active');
</script>