
.withpadding {
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 7px;
    padding-bottom: 7px;
}
.padding-large-vertical {
    margin-bottom: 25pt;
}
.padding-large-vertical-top {
    margin-top: 25pt;
}
.padding-large-vertical-med {
    margin-bottom: 15pt;
}
.padding-vertical {
    margin-bottom: 5pt;
}

.padding-vertical-top {
    margin-top: 5pt;
}

.withpadding_left {
    padding-left: 7px;
}

.withpadding_right {
    padding-right: 7px;
}

.withpadding_right_sm {
    padding-right: 4px;
}


.featured-box-green .icon-featured {
    background-color: #2BAAB1;
}

.featured-box-green .icon-featured:after {
    border-color: #2BAAB1;
}

.featured-box-green h4 {
    color: #2BAAB1;
}

.featured-box-green .box-content {
    border-top-color: #2BAAB1;
}

html .featured-box-green .icon-featured {
    background-color: #2BAAB1;
}

html .featured-box-green h4 {
    color: #2BAAB1;
}

html .featured-box-green .box-content {
    border-top-color: #2BAAB1;
}
.featured-box-green .icon-featured {
    background-color: #2BAAB1;
}

.featured-box-green .icon-featured:after {
    border-color: #2BAAB1;
}

.featured-box-green h4 {
    color: #2BAAB1;
}

.featured-box-green .box-content {
    border-top-color: #2BAAB1;
}

html .featured-box-green .icon-featured {
    background-color: #2BAAB1;
}

html .featured-box-green h4 {
    color: #2BAAB1;
}

html .featured-box-green .box-content {
    border-top-color: #2BAAB1;
}

html .featured-box-effect-2.featured-box-green .icon-featured:after {
    -webkit-box-shadow: 0 0 0 3px #2BAAB1;
    box-shadow: 0 0 0 3px #2BAAB1;
}