<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link href="https://fonts.googleapis.com/css?family=Lato:400,900" rel="stylesheet">
  <style type="text/css">
    body, .background_main, p, table, td, div {

font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;

}

img {

border: none;

-ms-interpolation-mode: bicubic;

max-width: 100%;

}

p {

padding-bottom: 2px;

}

body {

background: #fff;

font-size: 17px;

line-height: 24px;

margin: 0;

padding: 0;

-ms-text-size-adjust: 100%;

-webkit-text-size-adjust: 100%;

}

table {

border-collapse: collapse;

mso-table-lspace: 0pt;

mso-table-rspace: 0pt;

width: 100%;

}

td {

font-size: 17px;

line-height: 24px;

vertical-align: top;

}

/* Footer */

.email_footer td, .email_footer p, .email_footer span, .email_footer a {

font-size: 15px;

text-align: center;

}

.email_footer td {

padding-top: 20px;

}

/* Typography */

h1, h2, h3, h4 {

color: #434245;

font-weight: 400;

line-height: 1.4;

margin: 0;

margin-bottom: 12px;

}

h1 {

font-size: 30px;

line-height: 36px;

font-weight: 900;

letter-spacing: -.75px;

text-align: left;

}

p, ul, ol {

font-size: 17px;

line-height: 24px;

font-weight: normal;

margin: 0;

margin-bottom: 15px;

}

p li, ul li, ol li {

list-style-position: inside;

margin-left: 5px;

}

a {

color: #3498db;

text-decoration: none;

}

a:hover {

text-decoration: underline;

}

.button_link::after {

position: absolute;

content: '';

top: 0;

right: 0;

bottom: 0;

left: 0;

border-radius: 4px;

}

.button_link:hover::after {

box-shadow: inset 0 -2px #237c4a;

}

.preview_text {

color: transparent;

display: none;

height: 0;

max-height: 0;

max-width: 0;

opacity: 0;

overflow: hidden;

mso-hide: all;

visibility: hidden;

width: 0;

font-size: 1px;

line-height:1px;

}

.preview_text a {

color: #3AA3E3 !important;

font-weight: bold;

}

/* Responsive and Mobile Friendly Styles */

/* Yahoo Mail has a history of rendering all media query styles with class selectors unless class is used as an attribute */

@media only screen and (max-width: 600px) {

table[class="background_main"] .sm_full_width {

    width: 100% !important;

}

table[class="background_main"] .sm_align_center {

    text-align: center !important;

}

table[class="background_main"] .sm_auto_width {

    width: auto !important;

}

table[class="background_main"] .sm_auto_height {

    height: auto !important;

}

table[class="background_main"] .sm_border_box {

    box-sizing: border-box !important;

}

table[class="background_main"] .sm_block {

    display: block !important;

}

table[class="background_main"] .sm_inline_block {

    display: inline-block !important;

}

table[class="background_main"] .sm_table {

    display: table !important;

}

table[class="background_main"] .sm_no_side_padding {

    padding-right: 0 !important;

    padding-left: 0 !important;

}

table[class="background_main"] .sm_no_border_radius {

    border-radius: 0 !important;

}

table[class="background_main"] .sm_no_padding {

    padding-right: 0 !important;

    padding-left: 0 !important;

}

table[class="background_main"] .sm_os_icons_height {

    /* this is to make the parent element the same height as the inline-block img inside */

    height: 44px;

}

.social_img_bottom_margin {

    /*this class is for social_user_outreach email only*/

    margin-bottom: 20px !important;

}

.social_p_bottom_margin {

    /*this class is for social_user_outreach email only*/

    margin-bottom: 40px !important;

}

}

/* More client-specific styles */

@media all {

.ExternalClass {

    width: 100%;

}

.ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {

    line-height: 100%;

}

.email_footer a {

    color: #434245 !important;

    font-family: inherit !important;

    font-size: inherit !important;

    font-weight: inherit !important;

    line-height: inherit !important;

    text-decoration: none !important;

}

}

a:hover {

text-decoration: underline !important;

}
  </style>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
    
        <div class="navbar-header">
            <img src = "https://dpwchainpublic.s3-eu-west-1.amazonaws.com/logo/dpwTeuLogo.png">
            <p style="color:red"> This is my test</p>
        </div>
    
    </div>
    </nav>